.overlay {
  background: $modal-overlay-background;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.section .modal,
.modal {
  border: lighten($secondary-color, 40%) solid 1px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-sizing: border-box;
  display: table;
  background: $inverted-text-color;
  bottom: 0;
  left: 0;
  margin: 7.5% auto;
  padding: 2em;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 480px;

  .header {
    @include cf();
    padding: 0;

    .title {
      @include column(3/4);
      font-size: 1.25em;
      font-weight: 400;
      white-space: nowrap;
    }

    .actions {
      @include column(1/4);
      text-align: right;

      button,
      .button {
        padding: 0;
      }
    }
  }

  .content {
    font-weight: 300;
    padding: 0.5em 0;

    p {
      color: $text-color;
    }
  }

  .footer {
    background: none;
    border: none;
    margin-top: 1em;
    text-align: right;
  }
}

@media (max-width: $medium-portrait) {
  .section .modal,
  .modal {
    padding: 1em;
    width: 320px;

    .header {
      padding: 0 0.5em !important;
      .title {
        font-size: 1em;
      }
    }

    .content {
      padding: 0 0.5em !important;
    }
  }
}