.overlay {
  background: $modal-overlay-background;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
  overflow-y: auto;
}

.section .modal,
.modal {
  background-color: $section-footer-background;
  border: lighten($secondary-color, 40%) solid 1px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-sizing: border-box;
  bottom: 0;
  display: inline-block;
  font-size: 16px;
  left: 0;
  margin: auto;
  padding: 2em;
  position: relative;
  right: 0;
  text-align: left;
  top: 0;
  width: 480px;

  &.large {
    width: $medium-landscape;
  }

  &.medium {
    width: $medium-portrait;
  }

  &.tour {
    text-align: center;
    .header {
      .title {
        @include column(1);
        float: none;

        h1 {
          font-size: 1.25em;
        }
      }
    }
    .content {
      font-size: 1.15em;

      .banner {
        background: none;
        height: 12em;
        padding: 1em;
      }
      p {
        max-width: $small-landscape;
        margin: 0.5em auto;
      }
    }
  }

  .header {
    @include cf();
    padding: 0;

    .title {
      @include column(3/4);
      color: $text-color;
      font-size: 1.25em;
      white-space: nowrap;

      h1 {
        color: $text-color;
        font-weight: bold;
        font-size: 1.15em;
        text-transform: inherit;
      }
    }

    .actions {
      @include column(1/4);
      margin: 0;
      text-align: right;

      button,
      .button {
        min-height: 0;
        padding: 0;

        i {
          font-size: 1em;
          margin: 0;
        }
      }
    }
  }

  .content {
    font-weight: 400;
    padding: 0.5em 0 !important;

    * {
      color: $text-color;
    }

    .subheading {
      margin-bottom: 1em;
      margin-top: -0.25em;
    }
  }

  .footer {
    background: none;
    border: none;
    font-size: 1em;
    margin-top: 1em;
    text-align: right;
  }

  &.add-modal {
    .option {
      @include column(1/3);
      background: $inverted-text-color;
      border: lighten($secondary-color, 40%) solid 2px;
      border-radius: 3px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 0.9em;
      margin: 1% 2% 1% 0;
      padding: 2em 1em;
      text-align: center;
      transition: border-color .2s ease;

      &:hover {
        border-color: lighten($alternate-color-1, 15%);
      }

      i {
        font-size: 3em;
        color: $alternate-color-2;
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      .title {
        color: $text-color;
      }

      .description {
        color: $secondary-color;
        font-size: 0.85em;
        height: 3.5em;
      }
    }
  }
}

@media (max-width: $medium-landscape) {
  .section .modal,
  .modal {
    &.large,
    &.medium {
      border-radius: 0;
      margin: 0 !important;
      width: 100%;
    }

    &.tour {
      .content {
        .banner {
          height: 10em;
        }
      }
    }
  }
}

@media (max-width: $medium-portrait) {
  .section .modal,
  .modal {
    padding: 1em;
    width: 320px;

    .header {
      padding: 0 0.5em !important;
      .title {
        font-size: 1em;
      }
    }

    .content {
      padding: 0 0.5em !important;
    }

    &.add-modal {
      .option {
        @include column(1);
        padding: 1em 1.5em;

        i {
          float: left;
          line-height: 0;
          margin: 0 0.25em 0 0;
        }

        .title {
          float: left;
          width: 50%;
        }

        .description {
          float: left;
          font-size: 0.9em;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: $small-landscape) {
  .section .modal,
  .modal {
    &.add-modal {
      font-size: 1.1em;
      .option {
        i {
          font-size: 1.25em;
          margin-right: 0.35em;
        }

        .description {
          clear: left;
        }
      }
    }
  }
}

//Remove scrolling
body {
  &.modal-open {
    overflow: hidden;
  }
}