.settings {
  .section {
    & > .container {
      @include cf();
      background: darken($section-footer-background, 1%);
      padding: 0;
    }

    .sidebar {
      @include column(2/7);
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      margin-right: 0;

      a {
        border-bottom: darken($section-footer-background, 6%) solid 1px;
        color: $secondary-color;
        display: block;
        padding: 1.81em 1em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s ease;

        i {
          color: $secondary-color;
          display: inline-block;
          font-size: 1.25em;
          position: relative;
          top: 2px;
          text-align: center;
          width: 1.5em;
          transition: all .2s ease;
        }

        &:hover {
          color: $text-color;

          i {
            color: $text-color;
          }
        }

        &.active {
          color: $text-color;

          & > i {
            color: $text-color;
          }

          &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-right: 15px solid $inverted-text-color;
            border-bottom: 12px solid transparent;
            position: absolute;
            right: 0;
          }
        }
      }
    }

    .content {
      @include column(5/7);
      background: $inverted-text-color;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: darken($section-footer-background, 1%) solid 1px;
      margin: 0;
      padding: 1.5em 3em 3em 3em;
      width: 73.5714285714%;

      &:last-child {
        border: none;
      }

      h1 {
        margin-top: 0.75em;
      }

      .url {
        width: 9.5em;
      }

      .actions {
        float: right;
        margin-top: 4em;
      }
    }
  }
  label {
    margin-top: 2em;
  }
}