.dropdown-trigger {
  position: relative;

  &:hover {
    .dropdown-list {
      display: block;
    }
  }
}

.dropdown-list {
  @extend .inverted;
  background: darken($primary-color, 5%);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  display: none;
  font-size: 0.9em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  width: 120px;

  li {
    display: block;
    border-bottom: darken($primary-color, 10%) solid 1px;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;

      &:hover {
        background: darken($primary-color, 10%);
        color: $inverted-text-color;
      }
    }

    i {
      color: $inverted-text-color !important;
      display: inline-block;
      font-size: 1em;
      margin-right: 0.3em;
      text-align: center;
      width: 1em;
    }
  }
}