footer {
  @extend .inverted;
  background: $footer-background;
  height: 3.2em;

  .logo {
    float: left;
    margin-right: 1em;
  }

  nav {
    float: left;
  }

  nav ul li a {
    color: lighten($footer-background, 20%);
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 1.5em 1em 1.25em 1em;

    &:hover {
      color: lighten($footer-background, 30%);
    }
  }
}

@media (max-width: $medium-portrait) {
  footer {
    font-size: 14px;
    height: 44px;
    nav ul li a {
      padding: 1.35em 0.75em;
    }
  }
}

@media (max-width: $small-landscape) {
  footer {
    .logo {
      display: none;
    }
    nav {
      float: none;
      margin: auto;
      white-space: nowrap;
      width: 100%;
      text-align: center;
    }
  }
}