footer {
	@include grid($header-primary-bkg, $header-primary-text-color, $footer-height);
  font-size: 16px;

  .container {
    background-color: $header-primary-bkg;
  }

  .footer-logo {
  	background: url(../images/logo-white.png) no-repeat center;
  	width: 50px;
  	height: $footer-height;

  	.text {
		  padding: 35px 50px;
		  font-weight: 700;
			letter-spacing: 1.2px;
		  margin: 0;
  	}
  }

  ul {
  	display: block;
  	list-style: none;

  	li {
			display: inline-block;
		  padding: 32px 20px 0px;

		  a {
		  	color: $header-primary-text-color;
		  }
		  a:hover {
		  	color: $footer-text-hover;
		  }
  	}
  }
}