.settings {
  .section {
    & > .container {
      @include cf();
      background: darken($section-footer-background, 1%);
      padding: 0;
      width: 100%;
    }

    .sidebar {
      @include column(2/7);
      margin-right: 0;

      a {
        border-bottom: rgba(0,0,0,0.03) solid 1px;
        color: $secondary-color;
        cursor: pointer;
        display: block;
        font-size: 1.1em;
        padding: 1em;
        position: relative;
        text-decoration: none;
        transition: all .2s ease;

        i {
          color: $secondary-color;
          display: inline-block;
          font-size: 1.25em;
          position: relative;
          top: 2px;
          text-align: center;
          width: 1.7em;
          transition: all .2s ease;
        }

        &:hover {
          color: $text-color;

          i {
            color: $text-color;
          }
        }

        &:first-child {
          &.active {
            box-shadow: none;
          }
        }

        &.active {
          background: lighten($banner-background, 67%);
          border-color: lighten($banner-background, 64%);
          box-shadow: 0 -1px 0 lighten($banner-background, 64%);

          i, span {
            color: lighten($banner-background, 10%);
          }

          &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-right: 12px solid $inverted-text-color;
            border-bottom: 10px solid transparent;
            position: absolute;
            right: 0;
            top: 40%;
          }
        }
      }
    }

    .container  .content {
      @include column(5/7);
      background: $inverted-text-color;
      border-bottom: darken($section-footer-background, 1%) solid 1px;
      margin: 0;
      padding: 1.5em 3em 3em 3em;
      width: 73.5714285714%;

      &:last-child {
        border: none;
      }

      & > h1 {
        margin-top: 0.75em;
      }

      .datepicker-trigger {
        width: 100%;

        .datepicker {
          left: 0;
          margin: auto;
          right: 0;
          top: 122%;
        }
      }

      label {
        color: $secondary-color;
        display: block;
        font-size: 0.7em;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0.25em;
        margin-top: 2.5em;
      }

      input,
      textarea,
      select {
        font-size: 0.85em;
        padding: 0.5em 0.75em;
      }

      button.destructive {
        i, span {
          color: $error-color;
        }
      }

      span.tip {
        display: inline-block;
        font-size: 0.85em;
        padding: 0.6em 0 0.6em 1em;
        pointer-events: none;
        position: absolute;
        color: $secondary-color;

        em {
          color: $secondary-color;
        }
      }

      input {
        &.facebook {
          padding-left: 7.5em;
        }

        &.twitter {
          padding-left: 2em;
        }
      }

      .error {
        color: $error-color;
        font-size: 0.65em;
        position: absolute;
      }

      .url {
        width: 9.5em;
      }

      form > .actions {
        float: right;
        margin-top: 4em;
      }

      .hr {
        border-bottom: lighten($secondary-color, 40%) solid 1px;
        margin: 3em -1em 2em -1em;
      }

      .right-part{
        float:right;
      }

      .social-checkbox{
        margin-top: 17px;
        margin-left: 35px;
        
      }

      .small-text{
        font-size:13px;
        margin-left:7px;
      }

      .icon-facebook{
          margin-right:10px;
          font-size: 20px;
          color:#3C5598;

      }
      .icon-twitter{
          margin-right:10px;
          font-size: 20px;
          color:#3FA3E1;
      }

      .icon-linkedIn{
          margin-right:10px;
          font-size: 20px;
          color:#2472B4;
      } 



    }
  }
}

@media (max-width: $medium-portrait) {
  .settings {
    .section {
      .sidebar {
        a {
          text-align: center;
          padding: 1em;
          i {
            display: block;
            font-size: 2em;
            width: auto;
          }
          span {
            font-size: 0.85em;
          }
        }
      }
      .container {
        & > .content {
          padding: 1em 2em;
        }
      }
    }
  }
}