.diff {
	&.unchanged {
		opacity: 0.6;
	}

	.added {
		background-color: $success-background;
	}
	.deleted {
		background: darken($error-background, 5%);
		text-decoration: line-through;
	}
}


.advice-content{
	margin: auto;
	padding: 2em 5em 2.5em;

	.wrapper {
		.info {
			.author {
				color: $primary-color;
				padding: 0.25em 0 0 0;
			}

			.timestamp {
				display: block;
				font-size: 0.9em;
				margin-bottom: 1em;
				padding: 0;
				width: 100%;
			}
		}
	}

	.actions {
		float: right;
	}

	.message {
		color: lighten($text-color, 10%);
		line-height: 1.4;
		white-space: pre-wrap;

		h2, h3 {
			* {
				color: $alternate-color-2;
			}
		}

		h3 {
			font-size: 1.15em;
			margin-top: 1em;
		}
	}
}