.comment-list-block {

	margin: 0 40px 40px;

	> div {
		float: right;
		width: 100%;
	}

	.comment-person-info {

		img {
			border-radius: 3px;
			border: 1px solid;
		}

		.name {
			font-size: 16px;
			font-weight: bold;
			margin: 7px 40px 0 10px;
			color: #56322B;
		}

		.date {
			font-size: 13px;
			color: #A09FA1;
			margin: 10px;
		}
	}

	.comment-body {

		p {
			margin: 20px 40px 20px 100px;
			font-size: 15px;
		}
	}
    
    .comment-ctrl {

    	.comment-ctrl-list {
    		width: 190px;
    		list-style-type: circle;

    		.comment-ctrl-btn {
	    		float: left;
	    		padding-left: 10px;
				list-style-type: circle;
				width: 50px;
	    	}
    	}

		a {
			text-decoration: none;
			color: #A09FA1;
			font-size: 15px;
		}

		a:hover {
			text-decoration: underline;
		}
	}    	
}