section.container {

	article {

		.article-content.editMode {
			background-color:#ece7e4;
			padding-bottom: 30px;
			padding-top: 15px;
			margin-bottom: 30px;
		}

		.row.editMode {
			margin-bottom: 20px;
		}

		.edit {

			input[type = "text"] {
				border: 2px solid #a89892;
				border-color: #a89892;
				height: 30px;
			}

			textarea {
				border: 2px solid #a89892;
				border-color: #a89892;
				width: 100%;
				height: 60px;
				resize: none;
			}

			.goal-description {
				height: 125px;
				margin: 15px 0 10px 0;
			}

			.save-btn, .cancel-btn {
				@include saveCancelBtn();
			}

			.save-btn {
				padding: 0;
				margin: 0 0 0 20px;
			}

			.cancel-btn {
				padding: 0;
				margin: 0 15px 15px 10px;
			}	

			.responsibilities {
				height: 150px;
				margin: 15px 0 10px 0;
			}

			.description {
				height:70px;
			}

			.company-name {
				width:268px;
			}
			
			.experience {
		        padding:0 0 0 20px;
		    }

			.industry {
				width:140px;
				margin: 10px 10px 20px 55px;
			}
			.industry-reg {
				width:140px;
				margin-top: 3px;
			}

			.title {
				width:240px;
				margin: 10px 10px 20px 0px;   
			}
			.title-reg {
				margin:3px 5px 0px 0px; 
				border: 2px solid #a89892;
				width:230px;  
			}

	  		.icon-wrapper {
				cursor:pointer;

	  			.icon {
		  			float:right;
		  			margin-top: -25px;
		  		}

		  		.icon.edit {
		  			margin-right: -40px;
		  		}
		  		.icon.edit-reg{
		  			margin: 5px -16px 0;
		  		}
	  		}

	  		.icon-wrapper-reg {
	  			float:left;
	  			margin:43px 25px 0;
	  		} 

			.info-link {
	  			padding-top: 8px;
				margin-bottom: 8px;
	  		}

	  		.info-title-reg {
	  		   margin:12px;
	  		   text-align:center;
	  		   font-weight:bold;
            }

			.start-date {
				width:95px;
				margin: 10px 0px 20px 120px;
			}
			.start-date-reg {
				width:87px;
			}
			.end-date {
			   width:95px;
			   margin: 10px 10px 20px 17px;
			}

			.location {
			   width:165px;
			   margin: 10px 0 20px 114px;
			}

			.establishment {
				width:268px;
				margin: 10px 10px 20px 0px;
			}

			.description_edu {
				margin-bottom: 20px;
			}

			.gpa {
				margin: 0px 0px 15px 0px;
			}

			.responsibilities_guest {
				height:200px;
			}

			.description_guest {
				height:30px;
			}
		}
	}

	article.profile {

		.article-content.editMode {
			padding-bottom: 0px;
			margin-bottom: 0px;
		}

		.headline-container.edit {

			.headline {
				width: 300px;
			}

			.tagline {
				margin-bottom: 10px;
			}
		}
	}
}