
section.container {

	article {

		.article-content.editMode {
			background-color:#ece7e4;
			padding-bottom: 30px;
			padding-top: 15px;
			margin-bottom: 30px;
		}

		.row.editMode {
			margin-bottom: 20px;
		}

		.edit {

			input[type = "text"] {
				border: 2px solid #a89892;
				border-color: #a89892;
				height: 30px;
			}

			input[type = "submit"] {
				text-transform: lowercase;
			}

			textarea {
				border: 2px solid #a89892;
				border-color: #a89892;
				width: 100%;
				height: 60px;
				resize: none;
				display: block;
				overflow: hidden;
			}

			.goal-description {
				min-height: 125px;
				margin: 15px 0 10px 0;
			}

			.save-btn {
				@include saveBtn();
			}

			.save-btn:hover {
				border-color: rgb(47, 52, 92);
				background-color: rgb(66, 81, 130);
			}
			
			.cancel-btn {
				@include cancelBtn();
			}

			.cancel-btn:hover {
				border-color: #030303;
				background-color: #C0BFBF;
			}

			.save-btn {
				padding: 0;
				margin: 0 0 0 20px;
			}

			.cancel-btn {
				padding: 0;
				margin: 0 15px 15px 10px;
			}	

			.responsibilities {
				min-height: 150px;
				margin: 15px 0 10px 0;
			}

			.description {
				min-height:70px;
			}

			.company-name {
				width:268px;
			}
			
			.experience {
		        padding:0 0 0 20px;
		    }

			.industry {
				width:140px;
				margin: 10px 10px 20px 55px;
			}

			.industry-reg {
				width:130px;
				margin-top: 3px;
			}

			.title {
				width:240px;
				margin: 10px 10px 20px 0px;   
			}

			.title-reg {
				margin:3px 5px 0px 0px; 
				border: 2px solid #a89892;
				width:222px;  
			}

	  		.icon-wrapper {
				cursor:pointer;

	  			.icon {
		  			float:right;
		  			margin-top: -25px;
		  		}

		  		.icon.edit {
		  			margin-right: -40px;
		  		}
		  		.icon.edit-reg{
		  			margin: 5px -16px 0;
		  		}
	  		}

	  		.icon-wrapper-reg {
	  			float:left;
	  			margin:43px 25px 0;
	  		} 

			.info-link {
	  			padding-top: 8px;
				margin-bottom: 8px;
	  		}

	  		.info-title-reg {
	  		   margin:12px;
	  		   text-align:center;
	  		   font-weight:bold;
            }

			.start-date {
				width:95px;
				margin: 10px 0px 20px 120px;
			}
			.start-date-reg {
				width:87px;
			}
			
			.end-date {
			   width:95px;
			   margin: 10px 10px 20px 17px;
			}

			.location {
			   width:165px;
			}

			.establishment {
				width:268px;
				margin: 10px 10px 20px 0px;
			}

			.description_edu {
				margin-bottom: 20px;
			}

			.gpa {
				margin: 0px 0px 15px 0px;
			}

			.responsibilities_guest {
				min-height:200px;
			}

			.description_guest {
				min-height:30px;
			}
		}
	}
}