@import '_variables.scss';
@import '_mixins.scss';

#contact-info,  #share-info {
	display: none;
	position: relative;
	top: -9px;
	margin-bottom: 0px;
}

article {

	.info-blog-wrapper {

		.info-blog {
			@include shareInfo();
			@include shareContct();
			margin-right: -48px;
		}

		.location-blog {
			margin-right: -1px
		}

		.info-title {
			font-weight: bold;
			font-family: 'sans';
			padding-top: 13px;
			font-size: 16px;
			margin-bottom: 0px;
			margin-left: 30px;
		}

		.contact-data-cont {
			width: 236px;
			margin-left: 10px;

			.contact-link {
				margin-bottom: 0px;
				font-size: 14px;
				line-height: 20px;

				a {
					color: #000;
				}

				.soc-link {
					color: $share-info-txt-color;
					padding-left: 13px;
				  	white-space: nowrap;
				    overflow: hidden; 
				    text-overflow: ellipsis;
				    width: 156px;
				    display: inline-block;
				}

				.soc-link.edit {
					height: 26px;
					margin-bottom: 3px;
				}
			}
		}

		.contact-data-cont.location-contact-data-cont {
			width: 180px;
		}

		.share-link.edit, .contact-link.edit{
			display: none;
		}

		.share-link {
			padding-top: 10px;
			margin: 0 0 5px 25px;

			a {
				color: #000;
			}
		}

		.info-privacy {
			margin-bottom: 0px;

			.privacy-select {
				width: 132px;
				height: 33px;
				border-radius: 0px;
				border: 1px solid #74615D;
				color:  #70584E;
				font-size: 18px;
			}
		}

		

		.export, .location {
			margin-right: -2px;

			a {
				color: $share-info-txt-color;
			}
		}

		.cell {
			margin-top: 0px;
			margin-bottom: 3px;
		}

		.edit-btn-cont {

			.edit-btn {
				background: url('../../images/edit.png') no-repeat;
				padding:20px 0px 0px 0px;
				margin-top: 18px;
				margin-left: 0px;
				float:left;
				width: 21px;
				height: 21px;
			}
		}

		.exp-buttons {
			@include shareInfo ();
			width: 149px;
			margin-left: 45px;
			margin-right: 23px;
			margin-top: 20px;

			.exp-button {
				border: 1px solid $share-info-border-color;
				font-family: 'Arimo';
				background-color: #fff;
				font-size: 110%;
				float: left;
				width:30%;
				height: 31px;
				text-align: center;
				cursor: pointer;
				line-height: 30px;
			}
		}
	}
}



