// colors
$white: #ffffff;
$article-border-color: #c5c3c2;

$article-btn-bkg-color: #4d322a;
$share-contact-btn-bkg-color: #ece7e4;
$ask-advice-btn-bkg-color: #5a6b4b;

$article-controll-link-color: #4d322a;
$count-btn-bkg-color: #a99994;

$paragraph-edit-bkg-color: #eeebe9;
$paragraph-edit-border-color: #4d322b;

$save-btn-bkg-clor: #4f619c;
$save-btn-border-clor: #4f619c;
$cancel-btn-bkg-clor: #D6D6D6;
$cancel-btn-border-clor: #787777;


// header styles
$header-height: 63px;
$header-width: 1040px;
$header-logo-width: 163px;


// content styles
$main-container-width: 850px;


//profile
$profile-height: 175px;

// share, contact parts
$share-info-bkg-color: #ece7e4;
$share-info-txt-color: #4D322B;
$share-info-border-color: #A19B9B;


// add more blocks
$add-more-block-height: 70px;