@import '_variables';
@import '_mixins';

body {

	article {

		.edit {
			display: none;
		}

		.main {

		}

		.article-content:hover {

			.main {
				background: url(../../images/edit.png) no-repeat top right;

				> p, > ul , > div.paragraph {
					@include editParagraph();
				}
			}
		}

		.comments-content {
			display: none;
		}
	}

	article.info-sections {

  		.info-blog.edit {
  			display: none;
  		}
	}
}


@import 'header';
@import 'profile';
@import 'common';
@import 'edit';
@import 'shareInfo';
@import 'comments';


