
@import 'variables';
@import 'mixins';

body {
	background: url('../../images/background.jpg');

 		section#container {
			margin-top: 36px;
			font-family: "pt-sans";
			width: 960px;

			article {

				.topper {
					@include topper();
				}

				.settings-row {
					width: 89%;
					float: left;
					padding: 14px 20px;
				}

				.last-update {
					color:#B6B6B6;
					float:left;
					font-size: 16px;
					margin-right:15px;
				}

				.update {
					float:left;
					padding-left: 30px;
					
				}

				.change {
					color:#50619E;
			        cursor:pointer;
			        font-size: 16px;
					line-height: 14px;
					padding:3px 0px 0 120px;
				}

				.add {
					padding:5px 0px 0 15px;
				}

				.add-change {
					padding: 5px 0 0 90px;
				}

				.profile-row {
					width: 100%;
					float: left;
				}

				p {
					padding: 0px;
					margin: 0px;
				}

				.greyed-background {
					background-color: #EEEEEE;
				}

				.info-label {
					font-size: 20px;
					line-height: 18px;
					float: left;
				}

				.label-value {
					font-size: 18px;
					line-height: 18px;
					float: left;
					padding-left: 20px;
				}

			 	.update-label {
	            	color:#50619E;
			        cursor:pointer;
			        float: right;
			        font-size: 14px;
					line-height: 14px;
			    }

		   		.settings {
				    border:1px solid #c5c3c2;
				    background-color: $white;
				    float: left;

				    .photo-set {
				    	margin: 5px;
				    }
			
				    .profile-info-set {

				    	.name {
					    	font-size: 24px;
							line-height: 42px;
					    }

					    .member-set {
					    	color: #93908F;
					    	font-size: 12px;
					    	line-height: 14px;
					    }
				    }
				}   

				.notif-grid {
					margin-left: 10px;
				}

		       	.settings-notif {
				    border:1px solid #c5c3c2;
				    background-color: $white;
				   	    
			    	.notification-row {
			    		padding:10px 35px 47.5px;

					    .ntfcation {
					    	font-size:20px;
					    	float:left;
					    }

					    .time {
					    	float:right;
					    	font-size:18px;
					    	color:#B6B6B6;
					    	
					    }

					    .view {
					    	float:right;
					    	font-size:16px;
					    	color:#50619E;
					    	cursor:pointer;
					    	padding:10px 0 0 20px;
					    }
					}    

				    .divider {
				    	clear: both;
						margin: 0 17px 0px;
						border-top: 1px dashed #c5c3c2;
				    }

				    .more {
				    	height:32px;
				    	border:1px solid #c5c3c2;
				    	background-color:#EEEEEE;
				    	margin:0px 25px 30px 20px;
				    }
				    
				    .view-more {
				    	font-size:19px;
				    	color:#93908F;
				    	text-align:center;
				    	cursor:pointer;
				    }
				}
			}
		}
	}


@import 'header';