.resume-section {
  background: white;
  padding: 10px;
  margin: 10px;
}

.resume-section-footer {

  padding: 0 40px 20px;

  .update-time {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 14px;
  }

}

.skill-item {
  padding: 10px;
}

.skill-delete {
  
}