.sections {
  margin: 1em 0;
}

.section {
  @include center();
  & > .container {
    background: $section-background;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 0.75em 1em;
    padding: 2em 0;
    position: relative;
  }

  &.mini {
    width: 720px;
  }

  .content {
    padding: 0.5em 4em;
  }

  .header {
    @include cf();
    padding: 1em 4em;

    .title {
      @include column(3/4);
      text-align: left;
    }
    .actions {
      @include column(1/4);
      text-align: right;
    }
  }

  textarea {
    font-weight: 300;
  }

  .footer {
    background: $section-footer-background;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: darken($section-footer-background,3%) solid 1px;
    margin-top: 2em;
    font-size: 0.85em;

    & > .info {
      @include cf();
      padding: 0.25em 0.5em;
    }

    .timestamp {
      color: $section-footer-color;
      display: inline-block;
      float: left;
      font-weight: 300;
      padding: 0.65em 1em;
    }

    .actions {
      display: inline-block;
      float: right;

      button,
      .button {
        min-height: 2.3em;
        text-transform: lowercase;

        i {
          font-size: 0.9em;
        }
      }
    }

    .comments {
      & > .comment {
        border-top: darken($section-footer-background,6%) solid 1px;
        margin: 0;
      }

      .content {
        margin: auto;
        max-width: 480px;
        padding: 1em;

        .info {
          @include cf();

          .author {
            color: $primary-color;
            display: inline-block;
            float: left;
            padding: 0.25em 0;
          }

          .timestamp {
            display: inline-block;
            float: right;
            font-size: 0.9em;
            padding: 0.35em 0 0.25em 0;
          }
        }

        .message {
          line-height: 1.4;
        }
      }

      & > .comment-box {
        border-top: darken($section-footer-background,6%) solid 1px;
        .content {
          @include cf();
          font-size: 1em;
          margin: auto;
          max-width: 480px;
          padding: 1.15em;

          textarea {
            float: left;
            padding: 0.2em 0.8em;
            position: relative;
            top: 2px;
            width: 80%;
          }

          button {
            float: right;
            padding: 0.2em;
            text-align: center;
            text-transform: inherit;
            width: 19%;
          }
        }
      }
    }
  }
}

.subsection {
  border-top: darken($section-footer-background,3%) solid 1px;
  position: relative;

  & > .header {
    padding: 2em 4em 0em 4em;

    h2 {
      color: $mode-color;
      font-size: 1em;
      font-weight: 400;
    }
  }

  & > .content {
    margin-top: -0.5em;
    padding: 0.25em 4em 0.25em 4em;
  }

  .title {
    font-size: 1.25em;
    font-weight: 400;

    input {
      color: $text-color;
      margin: 2px 0;
    }
  }
}

.subsubsection {
  .header {
    padding: 1em 2em 0 2em;

    .title {
      h3 {
        color: $mode-color;
        font-size: 0.85em;
        font-weight: 400;
      }
    }
  }

  .content {
    padding: 0 2em;
  }

  .location {
    font-size: 0.9em;
    margin: 0.5em 0 1em 0;
  }
}