// Variables


// Mixins


// Classes
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  line-height: 1;
  cursor: pointer;
  color: #999;
  &:hover {
    color: #999;
  }
}