button,
.button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: $primary-color;
  border: transparent solid 2px;
  border-radius: 6px;
  color: $inverted-text-color;
  display: inline-block;
  outline: none;
  margin: 2px;
  padding: 0.3em 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .2s ease,
     color .2s ease;
  white-space: nowrap;

  &:hover,&:focus {
    background: lighten($primary-color, 8%);
    cursor: pointer;
  }

  &:active {
    background: darken($primary-color, 3%);
  }

  i {
    color: $inverted-text-color;
    margin-right: 0.4em;
    transition: color .2s ease;
  }

  span {
    color: $inverted-text-color;
    transition: color .2s ease;
  }

  &.normal-caps {
    text-transform: inherit;
  }

  &.padded {
    padding: 0.75em 1.5em;

    i {
      bottom: 1px;
      margin-right: 0.75em;
      position: relative;
    }
  }

  &.facebook {
    @extend .normal-caps;
    background: $facebook-color;

    &:hover,&:focus {
      background: lighten($facebook-color, 8%);
    }

    &:active {
      background: darken($facebook-color, 3%);
    }
  }

  &.inverted {
    background: transparent;
    color: $primary-color;
    border-color: $primary-color;

    &:hover,&:focus,
    &:active {
      background: $primary-color;
      color: $inverted-text-color;

      i, span {
        color: $inverted-text-color;
      }
    }

    &:active {
      background: darken($primary-color, 3%);
      border-color: darken($primary-color, 3%);
    }

    i, span {
      color: $primary-color;
    }
  }

  &.secondary {
    background: $secondary-color;

    &:hover,&:focus {
      background: lighten($secondary-color, 8%);
    }

    &:hover,&:focus {
      background: darken($secondary-color, 3%);
    }

    &.inverted {
      background: transparent;
      color: $secondary-color;
      border-color: $secondary-color;

      &:hover,&:focus {
        background: $secondary-color;
        color: $inverted-text-color;

        i,span {
          color: $inverted-text-color;
        }
      }

      &:active {
        background: darken($secondary-color, 3%);
        border-color: darken($secondary-color, 3%);
        color: $inverted-text-color !important;
      }

      i,span {
        color: $secondary-color;
      }
    }
  }

  &.embossed {
    border-color: rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    inset 0 1px 1px rgba(255,255,255,0.25);
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);

    &:hover,&:focus {
      border-color: rgba(0,0,0,0.08);
    }

    &:active {
      background: $primary-color;
      box-shadow: 0 1px 1px rgba(255,255,255,0.15),
      inset 0 1px 1px rgba(0,0,0,0.05);
      transition: none;
    }
  }

  &.flat {
    background: none;
    border-color: transparent;
    color: $primary-color;

    i {
      color: $primary-color;
    }

    span {
      color: $primary-color;
    }

    &:hover,&:focus {
      color: lighten($primary-color, 8%);
      i,span {
        color: lighten($primary-color, 8%);
      }
    }

    &:active {
      color: darken($primary-color, 3%);
      i,span {
        color: darken($primary-color, 3%);
      }
    }

    &.secondary {
      color: $secondary-color;

      i,span {
        color: $secondary-color;
      }

      &:hover,&:focus {
        background: none;
        color: lighten($secondary-color, 8%);
        i,span {
          color: lighten($secondary-color, 8%);
        }
      }

      &:active {
        background: none;
        color: darken($secondary-color, 3%);
        i,span {
          color: darken($secondary-color, 3%);
        }
      }
    }
  }

  &.icon {
    padding: 0.3em 0.6em;

    i {
      margin: 0;
    }
  }

  &.small {
    font-size: 0.75em;
  }

  &.move {
    background: $inverted-text-color !important;
    border: darken($section-footer-background,8%) solid 1px !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.025);
    color: $secondary-color !important;
    cursor: move;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -0.75em;
    width: 6em;

    i, span {
      color: $secondary-color !important;
    }
  }

  &.cancel {
    i {
      display: none;
    }
  }
}

a.button {
  &:hover,&:focus {
    color: $inverted-text-color;
  }
}