.button-inverted {
    @include button-inverted();
    margin-right: 10px;

  .icon {
	  padding-right: 4px;
  }
}
.button-inverted:hover {
   @include ask-advice-btn-hover();
}
.button.cancel {
  @include button-cancel();
}
.move-container {
  position: relative;
}
.button.move {
  width: 90px;
  position: relative;
  left: 50%;
  top: -20px;
  border-color: $light-grey;
  background-color: $white;
}
.button.delete {
  width: 26px;
}
.number-buttons {
  color: $yellow-text-color;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;

  .icon {
    font-size: 20px;
    line-height: 22px;
    padding-right: 4px;
  }
}
.number-buttons.comments {

  .icon {
    font-size: 18px;
    position: relative;
    top: 2px;
  }
}
.number-buttons:hover {
  color: $yellow-text-color;
  text-decoration: underline;
}