@import '_primary-header';
@import '_secondary-header';

.container {
	max-width: $header-width;
	min-width: 960px;
}

.menu-container {
	position: absolute;
	z-index: 10;
	display: none;

	ul {
		@include menu-list();
			
		li {
			@include menu-list-item();
		}
	}
}

#account-container {
	right: 146px;
  top: 28px;

	#triangle-up {
   	@include arrowUp($white);
		left: 80px;
		top: 2px;
	}
}

#export-container {
	right: 322px;
  top: 90px;

  ul {
  	color: $yellow-text-color;

  	i {
  		padding-right: 20px;
  	}
  }
}