.header-top {
	background-color: #E2670D;
	height: 40px;
	color: $white;

	.vyllage-logo {
		text-transform: uppercase;
	  padding-top: 10px;
	}
	.username {
		padding-top: 10px;
		color: #616161;
	}
}
.header-secondary {
	background-color: $white;

	.mode {
		color: #E2670D;
		font-size: 18px;
		padding-top: 10px;
	}
}
// the rest of code will be refactored according to new design
header {
	@include header-grid();

	.container {
		height: $header-height;
		max-width: $header-width;
		min-width: 960px;
		
		.header-logo {
			@include header-logo();
		}

		.header-profile {
			margin-top: 12px;

			.header-profile-photo {
				width: 30px;
				height: 30px;
				margin: 5px 3px;
			}

			.header-username {
				font-size: 20px;
				line-height: 28px;
				margin-top: 5px;
				margin-left: 5px;
				cursor: pointer;
			}

			.header-username:hover {
				color: #8B8987;
			}

			.ask-advice-btn {
				@include ask-advice-btn();
				margin-left: 30px;
			}

			.ask-advice-btn:hover {
				border: 1px solid #050404;
				background-color: #414D36;
			}
		}
	}
}

#menu-container {
	position: absolute;
	z-index: 10;
	right: 105px;
	top: 64px;
	display: none;

	#triangle-up {
	    width: 0;
	    height: 0;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-bottom: 10px solid $white;
	    position: relative;
		left: 80px;
		top: 2px;
	}

	ul {
		background-color: $white;
		width: 170px;
		list-style-type: none;
		box-shadow: 1px 0px 2px 1px #ADABA8;
		border: 1px solid #ADABA8;
		font-family: 'PT Sans', sans-serif;
			
		li {
			border-bottom: 1px solid #D3CFC9;
			height: 30px;
			margin-bottom: 0;
			font-size: 18px;
			line-height: 24px;
			padding-top: 10px;
			padding-left: 15px;
			cursor: pointer;
		}
	}
}