.container {
	max-width: $header-width;
	min-width: 960px;
}

.header-top {
	background-color: #E2670D;
	height: 40px;
	color: $white;
  font-size: 20px;

	.vyllage-logo {
	  padding-top: 7px;
	  background: url(../images/logo-white.png) no-repeat ;
	  padding-left: 35px;
	  font-size: 16px;

	  .logo-title {
	  	margin-bottom: 0px;
	  	font-weight: 700;
  		letter-spacing: 1.2px;

	  	.logo-text {
		  	text-transform: uppercase;
	  	  font-weight: 500;
	  	  letter-spacing: 1px;
	  	  color: #f9d0b3;
		  }
	  }
	}

	.header-controls {
	  padding-top: 6px;
	  color: #863e09;
	  span {
	  	float: left;
	  	cursor: pointer;
	  }
		i {
			margin-right: 20px;
		}
		.header-img {
			width: 20px;
		  height: 20px;
		  border-radius: 50%;
		  background-color: #863e09;
		  margin-top: 6px;

			.ion-person {
			  color: #e2670d;
			  padding-left: 2px;
			  position: relative;
			  top: -6px;
			}
		}
		.username {
	    color: #863e09;
		  font-size: 12px;
		  padding-left: 20px;
		  padding-top: 5px;
		  font-weight: 600;
		}
		.arrow-down {
		  width: 0;
		  height: 0;
		  border-left: 4px solid transparent;
		  border-right: 4px solid transparent;
		  border-top: 6px solid #863e09;
		  top: 7px;
		  position: relative;
		  left: 4px;
		}
	}
}
.header-secondary {
	background-color: $white;
	height: 40px;
	color: #e2670d;
	font-size: 18px;
	padding-top: 10px;

	a {
		padding-right: 30px;
		color: #e2670d;
		text-transform: uppercase;
		cursor: pointer;
	}

	i {
		padding-right: 8px;
		font-size: 22px;
	}

	.mode {
		text-transform: inherit;
		margin: 0px;

		.arrow-down {
		  width: 0;
		  height: 0;
		  border-left: 4px solid transparent;
		  border-right: 4px solid transparent;
		  border-top: 6px solid #e2670d;
		  top: 17px;
		  position: relative;
		  left: 7px;
		  float: right;
		}
	}
}

.ask-advice-btn {
  border: #e2670d solid 2px;
  border-radius: 5px;
  color: #e2670d;
  font-weight: 600;
  font-size: 14px;
  transition: all .2s ease;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px;
  padding: 0 10px;
  top: -4px;
  position: relative;
}

.ask-advice-btn:hover {
	background-color: #e2670d;
	border-color: #e2670d;
  color: #fff;
}
		
#menu-container {
	position: absolute;
	z-index: 10;
	right: 160px;
  top: 28px;
	display: none;

	#triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid $white;
    position: relative;
		left: 80px;
		top: 2px;
	}

	ul {
		background-color: $white;
		width: 170px;
		list-style-type: none;
		box-shadow: 1px 0px 2px 1px #ADABA8;
		border: 1px solid #ADABA8;
		font-family: 'PT Sans', sans-serif;
			
		li {
			border-bottom: 1px solid #D3CFC9;
			height: 30px;
			margin-bottom: 0;
			font-size: 18px;
			line-height: 24px;
			padding-top: 10px;
			padding-left: 15px;
			cursor: pointer;
		}
	}
}