.header-top {
  @include grid($header-primary-bkg, $white, $header-height);
  font-size: 20px;

  .container {
  	background-color: $header-primary-bkg;
  }
	.vyllage-logo {
	  padding-top: 7px;
	  background: url(../images/logo-white.png) no-repeat;
	  padding-left: 35px;
	  font-size: 16px;
	}
	.logo-title {
  	margin-bottom: 0px;
  	font-weight: 700;
		letter-spacing: 1.2px;
  }
  .logo-text {
  	text-transform: uppercase;
	  font-weight: 500;
	  letter-spacing: 1px;
	  color: $logo-text-color;
  }
	.header-controls {
	  padding-top: 6px;
	  color: $header-primary-text-color;

	  span {
	  	float: left;
	  	cursor: pointer;
	  }
		i {
			margin-right: 20px;
		}
	}
	.header-img {
		width: 20px;
	  height: 20px;
	  border-radius: 50%;
	  background-color: $header-primary-text-color;
	  margin-top: 6px;
	}
	.ion-person {
	  color: $header-primary-bkg;
	  padding-left: 2px;
	  position: relative;
	  top: -6px;
	}
	.username {
    color: $header-primary-text-color;
	  font-size: 12px;
	  padding-left: 20px;
	  padding-top: 5px;
	  font-weight: 600;
	}
	.arrow-down {
	  @include arrowDown($header-primary-text-color);
	  top: 7px;
	  left: 4px;
	}
}
