.suggestions {
	& > .container {
		.content {
			padding: 0.5em 2em;
		}
	}
	@media (max-width: $medium-portrait) {
		&.section {
			margin: 0;
		}
	}
}

.suggestion-group {
	@include cf();
	margin: 2em 1em;
	text-align: center;

	.suggestion {
		height: 12em;
		float: left;
	}

	@media (max-width: $medium-landscape) {
		.suggestion {
			width: 30%;
			max-width: none;
		}
	}

	@media (max-width: $large-portrait) {
		.suggestion {
			width: 45%;
		}
	}

	@media (max-width: $small-landscape) {
		.suggestion {
			height: auto;
			width: 100%;
		}
	}

	.empty {
		font-size: 0.9em !important;
		line-height: 1.4;
		max-width: 540px;
		margin: auto;
		padding: 2em !important;
	}

	.title {
		color: $secondary-color;
		margin-bottom: 1em;
		padding: 0 0.5em;
		text-align: left;
	}

  .view-more {
    background-color: transparent;
    border-radius: 2em;
    border-color: $banner-background;
    display: block;
    font-size: 0.8em;
    margin: 2em auto 0 auto;
    padding: 0.5em 1.5em;

    i, span {
	    color: $banner-background;
    }

    &:hover,
    &:focus {
      background-color: $banner-background;
      border-color: $banner-background;
      i, span {
		    color: $inverted-text-color;
	    }
    }

    &:active {
      background-color: darken($banner-background, 5%);
      border-color: darken($banner-background, 5%);
    }
  }
}

.suggestion {
	border: lighten($secondary-color, 40%) solid 2px;
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-block;
	min-width: 160px;
	margin: 0.5em;
	max-width: 185px;
	padding: 1em 0.5em;
	position: relative;
	text-align: center;
	width: 25%;

	&.sponsored {
		background-color: lighten($warning-color, 43%);
		border-color: lighten($warning-color, 39%);
	}

	.avatar {
		&.requested {
			background: url(../images/checkmark.png);
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 1.25em;
			border: $inverted-text-color solid 2px;
	    box-sizing: border-box;
			display: none;
		}
	}

	.name {
		font-size: 0.85em;
		font-weight: bold;
		margin-top: 0.5em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.tagline {
		color: $secondary-color;
		font-size: 0.75em;
		margin-bottom: 0.75em;
		display: block; /* Fallback for non-webkit */
		display: -webkit-box;
	  max-width: 400px;
	  height: 3em;
	  max-height: 3em;
	  margin: .25em auto .75em;
	  font-size: .65em;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;
	  line-height: 1.4;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.info {
		.requested {
			color: $inverted-text-color;
			display: none;
			font-size: 0.9em;
			margin-top: 0.2em;
			padding: 0 0.5em;
		}
	}

	button {
		font-size: 0.7em;
	}

	&.suggestion-leave {
		background-color: lighten($banner-background, 10%);
	  opacity: 1;
	  transition: opacity .4s ease-out 1.6s;

		.avatar {
			display: none;
			&.requested {
				display: inline-block;
			}
		}

	  button {
	  	&.get-feedback {
	  		display: none;
	  	}
	  }

	  .info {
	  	.name,
	  	.tagline {
	  		display: none;
	  	}
	  	.requested {
	  		display: inline-block;
	  		font-size: 0.85em;
	  		margin-top: 0.5em;
	  	}
	  }
	}

	&.suggestion-leave.suggestion-leave-active {
	  opacity: 0.01;
	}
}

.suggestion-sidebar {
	.empty {
		font-size: 0.8em !important;
		line-height: 1.4;
		margin: auto;
		padding: 2em 1em 2.5em 1em !important;
	}
	.title {
		padding: 0.65em 1em;
	  font-size: 0.8em;
	  text-transform: uppercase;
	  color: $secondary-color;
	  border-bottom: rgba(0,0,0,0.05) solid 1px;
	}
	.suggestion {
		@include cf();
		border: none;
		border-bottom: rgba(0,0,0,0.05) solid 1px;
		border-radius: 0;
		display: block;
		margin: 0;
		padding: 0.65em 1em;
		width: 100%;
		max-width: none;

		.avatar {
			@include column(0.2);
		}
		.info {
			@include column(0.6);
			font-size: 0.85em;
			text-align: left;
		}
		.name {
			margin-top: 0;
			text-align: left;
			padding: 0 0.5em;
		}
		.tagline {
			height: auto;
			margin-bottom: 0.25em;
			padding: 0 0.5em;
			text-align: left;
			font-size: 0.75em;
		}
		.actions {
			@include column(0.14);
		}
		button {
		  border-radius: 50%;
		  font-size: .9em;
		  margin: .8em 0 0;
		  text-align: left;
		  padding: .125em .3025em;

			i {
				margin: 0;
			}
			span {
				display: none;
			}
		}

		@media (max-width: $medium-landscape) {
			.info {
				@include column(0.7);
			}
			.actions {
				@include column(0.7, 0.3);
				text-align: left;

				button {
					border-radius: 5px;
					padding: 0.15em 0.5em;

					&.get-feedback span {
						display: inline-block;
						font-size: 0.85em;
						margin-bottom: 0.1em;
						margin-left: 0.25em;
					}
				}
			}
		}
		@media (max-width: 798px) {
			.avatar,
			.info,
			.actions {
				@include stack();
				text-align: center;

				.name,
				.tagline,
				.requested {
					text-align: center;
				}
			}

			.avatar {
				margin-bottom: 0.25em;
				&.requested {
					display: none;
				}
			}

			.actions {
				button {
					&.get-feedback {
						margin-bottom: 0.4em;
						margin-top: 0.35em;
					}
				}
			}
		}
	}

	.view-more {
		border-radius: 0;
		display: block;
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 0.75em 1em;
		background: $inverted-text-color;
		font-size: 0.7em;
		font-weight: bold;

		span {
			color: $banner-background;
		}

		&:hover {
			background: $section-footer-background;
		}
	}

	@media (max-width: $medium-portrait) {
		display: none;
	}
}