.comment-form {
  padding-top: 20px;
  border-top: 1px solid $border-color; 
  textarea {
    border: 1px solid $article-border-color;
    min-height: 1em;
  }
}

.comment-list {
  
}

.comment {
  padding: 10px;
}

.comment-name {
  color: $primary-color;
}

.comment-text {

}

