.ask-advice {
  h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
  }
  .section {
    & > .container {
      padding: 0;
    }
  }
  .recipients.header {
    padding: 2em 4em;

    .list {
      margin-top: 1em;
    }
  }
  .recipient {
    background: lighten($secondary-color, 43%);
    border-radius: 5px;
    border: lighten($secondary-color, 35%) solid 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05),
      inset 0 1px 1px rgba(255,255,255,0.5);
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 300;
    margin: 0.25em 0.125em;
    transition: all .2s ease;

    &:hover {
      background: lighten($secondary-color, 45%);
    }

    &.disabled {
      background: $inverted-text-color;
      border-color: lighten($secondary-color, 35%);
      box-shadow: none;
      cursor: default;

      .name {
        color: lighten($text-color, 25%);
      }
    }

    .name {
      color: lighten($text-color, 10%);
      display: inline-block;
      padding: 0.15em 0 0.5em 0.75em;
    }

    .remove {
      font-size: 1.15em;
      padding: 0.15em 0.75em 0.15em 0.5em;

      &:hover i {
        color: $primary-color;
      }
    }
  }

  .to.content {
    background: darken($section-footer-background, 1%);
    padding: 2em 4em;

    h2 {
      @include column(1/17);
      margin-top: 0.35em;
    }

    .form {
      @include column(16/17);

      .field {
        display: inline-block;
        margin: 0.5em 0.25em;
        position: relative;

        label {
          color: lighten($text-color, 10%);
          display: block;
          font-size: 0.85em;
          margin-bottom: 0.25em;
          margin-top: 0;
        }

        input {
          @extend .inline;

          &.name {
            width: 8.5em;
          }

          &.email {
            width: 14em;
          }

          &:focus {
            & + .autocomplete {
              display: inline-block;
            }
          }
        }
      }

      .note {
        color: lighten($text-color, 10%);
        font-size: 0.9em;
        margin-top: 0.5em;

        .facebook {
          margin-left: 0.5em;
        }
      }
    }
  }
  .subject.content {
    padding: 1.5em 4em;
    border-bottom: $section-footer-background solid 1px;

    h2 {
      margin-right: 0.5em;
    }

    input {
      width: 85%;
    }
  }
  .message.content {
    padding-top: 1.75em;

    textarea {
      margin-top: 0.5em;
      white-space: normal;
    }
  }
  .footer {
    @include cf();
    padding: 1.5em 4em;
  }
}