.ask-advice {
  h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    padding: 0 0 0 0.25em;
  }
  .section {
    & > .container {
      padding: 0;
    }
  }
  .recipients.header {
    padding: 2em 4em;

    .list {
      margin-top: 1em;
    }

    .empty {
      color: lighten($section-footer-color, 20%);
      font-size: 1.15em;
      font-weight: 300;
      padding: 0.55em 0.25em;
      text-align: center;
      white-space: nowrap;
    }
  }
  .recipient {
    background: lighten($secondary-color, 43%);
    border-radius: 5px;
    border: lighten($secondary-color, 35%) solid 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05),
      inset 0 1px 1px rgba(255,255,255,0.5);
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 300;
    margin: 0.25em 0.125em;
    transition: all .2s ease;

    &:hover {
      border-color: lighten($primary-color, 40%);
      background: lighten($primary-color, 50%);
    }

    &.disabled {
      background: $inverted-text-color;
      border-color: lighten($secondary-color, 35%);
      box-shadow: none;
      cursor: default;

      .name {
        color: lighten($text-color, 25%);
      }
    }

    .name {
      color: lighten($text-color, 10%);
      display: inline-block;
      padding: 0.15em 0 0.5em 0.75em;
    }

    .remove {
      font-size: 1.15em;
      padding: 0.15em 0.75em 0.15em 0.5em;

      &:hover i {
        color: $primary-color;
      }
    }
  }

  .to.content {
    background: darken($section-footer-background, 1%);
    padding: 2em 4em;

    h2 {
      @include column(1/17);
      margin-bottom: 0.35em;
      margin-top: 0.35em;
    }

    .form {
      @include column(16/17);

      .field {
        display: inline-block;
        margin: 0.5em 0.25em;
        position: relative;

        label {
          color: lighten($text-color, 10%);
          display: block;
          font-size: 0.85em;
          margin-bottom: 0.25em;
          margin-top: 0;
        }

        input {
          @extend .inline;

          &.name {
            width: 8.5em;
          }

          &.email {
            width: 14em;
          }

          &:focus {
            & + .autocomplete {
              display: inline-block;
            }
          }
        }
        .error {
          color: $error-color;
          font-size: 0.65em;
          padding: 0.1em 0.2em;
          position: absolute;

          i {
            bottom: 1px;
            color: $error-color;
            margin-right: 0.5em;
            position: relative;
          }
        }
      }

      .note {
        color: lighten($text-color, 10%);
        font-size: 0.9em;
        margin-top: 0.5em;

        .facebook {
          margin-left: 0.5em;
        }
      }
    }
  }
  .subject.content {
    padding: 1.5em 4em;
    border-bottom: $section-footer-background solid 1px;

    h2 {
      margin-right: 0.5em;
    }

    input {
      width: 85%;
    }
  }
  .message.content {
    padding-top: 1.75em;

    textarea {
      margin-top: 0.5em;
      white-space: normal;
    }
  }
  .footer {
    @include cf();
    padding: 1.5em 4em;
  }
}

@media (max-width: $medium-portrait) {
  .ask-advice {
    .to.content {
      .form {
        .field {
          &:nth-child(3) { /* E-mail field */
            margin-top: 1.15em;
          }
        }
      }
      button,
      .button {
        border: none;
        span > span {
          display: none;
        }
        i {
          display: inline;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: $small-landscape) {
  .ask-advice {
    .recipients.header {
      .empty {
        font-size: 0.95em;
      }
    }
    .to.content {
      h2 {
        @include column(1);
      }
      .form {
        .field {
          display: block;
          width: 100%;
          input {
            width: 100% !important;
          }
          &:nth-child(3) {
            margin-top: 0;
          }

          button,
          .button {
            span {
              display: inline;
            }
          }

          .error {
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}