#resume-contactInfo {
  background-color: #616161;
  height: 145px;
  padding-top: 30px;

	.profileInfo, .contactInfo {
		font-family: "PT Sans";
    color: $white;
    width: 250px;
    margin-left: 100px;
  }

  p {
     margin-bottom: 0px;
  }

  .contactInfo {
    i {
      font-size: 20px;
      padding-right: 10px;
    }
    p {
      text-decoration: underline;
    }
  }

	.headline {
		font-size: 28px;
		line-height: 30px;
    padding-top: 10px;
	}

	.tagline {
		font-size: 14px;
		line-height: 14px;
    color: #e2670d;
	}
}
