.alert {
	display: block;
  position: fixed;
  top: -4em;
  left: 0;
  right: 0;
  background: rgba($warning-background, 0.97);
  color: darken($warning-color, 10%);
  padding: 0.8em 1.6em;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-size: 0.9em;
  z-index: 3;
  transition: top .6s ease;
  z-index: 2;

  &.visible {
  	top: 3em;
    transition: top .4s ease;
  }

  &.success {
	  background: rgba($success-background, 0.97);
	  color: $success-color;
  }

  &.error {
	  background: rgba($error-background, 0.97);
	  color: $error-color;
  }

  button {
  	margin: 0 !important;
  	padding: 0 !important;
  }
}


.alert-open {
  .subheader {
    &.visible {
      display: none;
    }
  }
}

@media only screen and (max-width: $medium-landscape) {
  .alert {
    &.visible {
      top: 3.7em;
    }
  }
}

@media only screen and (max-width: $medium-portrait) {
  .alert {
    &.visible {
      top: 3em;
    }
  }
}