.banner {
  @extend .inverted;
  background-color: $banner-background;
  background-image: url(../images/banner-bg.png);
  background-size: cover;
  background-position: center;
  padding: 2em 2em 0 2em;
  font-weight: 300;

  .actions {
    margin-top: 1em;
    text-align: center;

    button {
      font-size: 0.7em;
      font-weight: 400;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: rgba(0,0,0,0.25);
      padding: 0.35em 1.25em;
      transition: background-color .2s ease;

      &:hover {
        background-color: rgba(0,0,0,0.4);
      }

      &.flat {
        background: none;

        span {
          color: $inverted-text-color !important;
        }
      }
    }
  }

  .info {
    @include column(1/2);
    margin-top: 1em;
    margin-bottom: 1em;

    .name {
      font-size: 2em;
      padding: 0 0.3em
    }
    .tagline {
      color: $tagline-color;
      margin-top: 0.5em;
      width: 100%;
    }
    .address {
      color: lighten($secondary-color, 30%);
      // font-size: 0.85em;
      line-height: 1.4;
      margin-top: 1em;
      white-space: normal;
    }
  }

  .contact {
    @include column(1/2);
    .detail {
      display: block;
      margin: 1.15em 1em;
      position: relative;
      white-space: nowrap;

      i {
        display: inline-block;
        width: 1em;
        margin-right: 0.5em;
        text-align: center;
        transition: all .2s ease;
      }

      .tip {
        padding-left: 0.6em;
        pointer-events: none;
        position: absolute;
        top: 0.25em;
      }

      input {
        min-width: 18em;

        &.twitter {
          padding-left: 1.6em;
        }
      }

      .error {
        color: $error-color;
        font-size: .65em;
        padding: .1em .2em;
        position: absolute;
        left: 2em;
        top: -1.85em;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: lighten($tagline-color, 5%);

        i {
          color: lighten($tagline-color, 5%);
        }
      }
    }
  }
}

@media only screen and (max-width: $medium-portrait) {
  .banner {
    text-align: center;
    .info {
      @include column(1);
      .name,
      textarea {
        text-align: center;
      }
    }
    .contact {
      @include column(1);
      background: rgba(0,0,0,0.1);
      border-radius: 5px;
      display: inline-block;
      font-size: 0.85em;
      float: none;
      width: auto;
      margin: auto;
      padding: 0 1em;
      .detail {
        text-align: center;
        margin: 0.75em 1em;

        &:first-child {
          margin-top: 1.8em;
        }

        &:last-child {
          margin-bottom: 1.8em;
        }

        .error {
          font-size: 0.8em;
        }
      }
    }
  }

  .header {
    .actions {
      button,
      .button {
        padding: 0.35em 0.6em 0.3em 0.6em;
        font-size: 0.85em;
        span {
          display: none;
        }
        i {
          margin: 0;
        }

        &.cancel {
          i {
            display: inline;
          }
        }
      }
    }
  }
}