section.container {

	article {

		.article-content.editMode {
			background-color:#ece7e4;
			padding-bottom: 30px;
			padding-top: 15px;
			margin-bottom: 30px;
		}

		.row.editMode {
			margin-bottom: 20px;
		}

		.edit {

			input[type = "text"] {
				border: 4px solid #a89892;
				border-color: #a89892;
				height: 30px;
			}

			textarea {
				border: 4px solid #a89892;
				border-color: #a89892;
				width: 100%;
				height: 60px;
				resize: none;
			}

			.goal-description {
				height: 125px;
				margin: 15px 0 10px 0;
			}

			.save-btn, .cancel-btn {
				@include saveCancelBtn();
			}

			.save-btn {
				padding: 0;
				margin: 0 0 0 20px;
			}

			.cancel-btn {
				padding: 0;
				margin: 0 15px 15px 10px;
			}	

			.responsibilities {
				height: 150px;
				margin: 15px 0 10px 0;
			}

			.description {
				height:70px;
			}

			.company-name {
				width:268px;
			}
			
			.experience {
		        padding:0 0 0 20px;
		    }

			.industry {
				width:140px;
				margin: 10px 10px 20px 55px;
			}

			.title {
				width:240px;
				margin: 10px 10px 20px 0px;   
			}

			.start-date {
				width:95px;
				margin: 10px 0px 20px 120px;
			 }

			 .end-date {
			   width:95px;
			   margin: 10px 10px 20px 17px;
			}

			.location {
			   width:165px;
			   margin: 10px 0 20px 114px;
			}

			.establishment {
				width:268px;
				margin: 10px 10px 20px 0px;
			}

			.description_edu {
				margin-bottom: 20px;
			}

			.gpa {
				margin: 0px 0px 15px 0px;
			}

			.responsibilities_guest {
				height:200px;
			}

			.description_guest {
				height:30px;
			}
		}
	}

}