article.profile {
	height: $profile-height;

	.profile-photo {
		@include profile-photo();
		float: left;
	}

	.edit-profile-photo {
		margin-left: -156px;
		margin-top: 131px;
		float: left;

		.edit-photo-btn {
			float: left;
			cursor: pointer;
		}

		.edit-photo-lbl {
			float: left;
			padding-left: 10px;
			font-family: "pt-sans";
			font-size: 14px;
			line-height: 24px;
		}
	}

	.article-content.profile {
		padding: 0px;
		margin-left: 0;
		width: 38.5%;

		.headline-container {
			font-family: "pt-sans";
			margin-top: 20px;
			float: left;

			.paragraph {
				width: 100%;
				float: left;
			}

			.headline {
				font-size: 42px;
				line-height: 34px;
				letter-spacing: 1px;
				text-align: center;
			}

			.edit-headline {
				float: right;
			}

			.tagline {
				font-size: 20px;
				line-height: 22px;
				padding: 0 10px;
				text-align: center;
			}

			.edit-tagline {
				float: right;
			}
		}
	}

	.btns-grid {
		margin-left: 0px;

		.share-contact-btns-container {
			float: right;
			margin-top: 145px;

			.share {
				@include share-contact-btn();
			}

			.contact {
				@include share-contact-btn();
			}
		}
	}
}