article.profile {
	height: $profile-height;

	.profile-photo {
		@include profile-photo();
	}

	.article-content.headline-col {
		padding: 0px;

		.headline-container {
			font-family: Arimo,sans-serif;

			.headline {
				font-size: 32px;
				line-height: 34px;
			}

			.tagline {
				font-size: 16px;
			}
		}
	}

	.share-contact-btns-container {
		float: right;
		margin-top: 126px;
		margin-right: -1px;

		.share {
			@include share-contact-btn();
			background-color: rgb(236, 231, 228);
		}

		.contact {
			@include share-contact-btn();
		}
	}
}