// colors
$white: #ffffff;
$body-bkg-color: #f6f2ea;
$article-border-color: #c5c3c2;




// header styles
$header-height: 80px;
$header-width: 1200px;



// content styles
$content-width: 1080px;


//profile
$profile-height: 147px;