// colors
$white: #ffffff;
$article-border-color: #c5c3c2;




// header styles
$header-height: 63px;
$header-width: 1040px;
$header-logo-width: 163px;


// content styles
$content-width: 1080px;


//profile
$profile-height: 147px;