@import '_variables.scss';
@import '_mixins.scss';

body {

	article {

		.edit {
			display: none;
		}

		.main {
			display: block;
			padding-right: 20px;

			> p {
				display: inline;
				border: 1px solid transparent;
			}

			 > ul, > div.paragraph {
			 	border: 1px solid transparent;
			 }
		}

		.article-content:hover {

			.main { 
				background: url(../../src/images/edit.png) no-repeat top right;

				> p, > ul , > div.paragraph {
					@include editParagraph();
				}
			}
		} 
	}
}

@import 'common';
@import 'header';
@import 'profile';
@import 'career-goal';
@import 'experience';
@import 'education';