@import '_variables.scss';
@import '_mixins.scss';

body {

	article {

		.edit {
			display: none;
		}

		.main {
			
		}

		.article-content:hover {

			.main { 
				background: url(../../src/images/edit.png) no-repeat top right;

				> p, > ul , > div.paragraph {
					@include editParagraph();
				}
			}
		} 

		.comments-content {
			display: none;
		}
	}
}


@import 'header';
@import 'profile';
@import 'common';
@import 'edit';
@import 'shareInfo';
@import 'comments';


