@import 'variables';
@import 'mixins';

body {
	background: url('../../src/images/background.jpg');

	section {
		margin-top: 30px;

		#contact-info-reg {
			border-style:dotted;
		}

		article {

			.article-content {
	  			background-color:#ece7e4;
	  		}
	  		
	  	  	.add-more {
	  			text-align:center;
	   			font-size:20px;
	   			color:#5f605f;
	   			font-weight:bold;
	   			margin-top: -30px;
	  		}
	  		
	  		.icon-wrapper {
				cursor:pointer;

	  			.icon {
		  			float:right;
		  			margin-top: -25px;
		  		}

		  		.icon.edit {
		  			margin-right: -40px;
		  		}
		  		.icon.edit-reg{
		  			margin: 5px -16px 0;
		  		}
	  		}

	  		.icon-wrapper-reg {
	  			float:left;
	  			margin:43px 25px 0;
	  		} 
	  	
	  		.info-title-reg {
	  		   margin:12px;
	  		   text-align:center;
	  		   font-weight:bold;
            }

            .contact .info-blog-reg {
            	margin:5px;
            }

	  		.ask-advice {
	  			height: 75px;

	  			.comments-text {
	  				color: #4d322a;
	  				font-size: 16px;
	  				margin-top: 28px;
	  			}

	  			.ask-advice-btn {
		  			@include ask-advice-btn();
		  			margin: 20px;
		  		}
	  		}

	  		.add-section  {
				height: $add-more-block-height;
	  		}
	  	}

	  	article.profile {

  			.article-content {
	  			background-color: $white;
	  		}	

	  		.tagline-edit { 
				color: #a5a3a2;
				float: left;
			}

			.headline-edit {
				float: left;
			}
	  	}
	}
}

@import 'header';
@import 'profile';
@import 'common';
@import 'edit';
@import 'shareInfo'


