body {
  background: url("../../src/images/background.jpg");
}
body section {
  margin-top: 30px;
}
body section article .article-content {
  background-color: #ece7e4;
}
body section article .add-more {
  text-align: center;
  font-size: 20px;
  color: #5f605f;
  font-weight: bold;
  margin-top: -30px;
}
body section article .icon-wrapper {
  cursor: pointer;
}
body section article .icon-wrapper .icon {
  float: right;
  margin-top: -25px;
}
body section article .icon-wrapper .icon.edit {
  margin-right: -40px;
}
body section article .icon-wrapper .icon.edit-reg {
  margin: 5px -16px 0;
}
body section article .icon-wrapper-reg {
  float: left;
  margin: 43px 25px 0;
}
body section article .contact .info-blog-reg {
  margin: 5px;
}
body section article .ask-advice {
  height: 75px;
}
body section article .ask-advice .comments-text {
  color: #4d322a;
  font-size: 16px;
  margin-top: 28px;
}
body section article .ask-advice .ask-advice-btn {
  font-size: 17px;
  font-family: 'Arimo', sans-serif;
  color: #ffffff;
  background-color: #5a6b4b;
  padding: 0 10px;
  font-weight: bold;
  margin: 20px;
}
body section article .add-section {
  height: 70px;
}
body section article.profile .article-content {
  background-color: #ffffff;
}
body section article.profile .tagline-edit {
  color: #a5a3a2;
  float: left;
}
body section article.profile .headline-edit {
  float: left;
}
body section article.info-sections .info-link {
  padding-top: 8px;
  margin-bottom: 8px;
}

header {
  background-color: #ffffff;
  border-top: 1px solid #c5c3c2;
  border-bottom: 3px solid #c5c3c2;
}
header .container {
  height: 63px;
  max-width: 1040px;
}
header .container .header-logo {
  width: 163px;
  height: 63px;
  background: url("../../src/images/header-logo.png") no-repeat;
}
header .container .header-profile {
  margin-top: 12px;
}
header .container .header-profile .header-profile-photo {
  width: 30px;
  height: 30px;
  margin: 5px 3px;
}
header .container .header-profile .header-username {
  font-size: 20px;
  line-height: 28px;
  margin-top: 5px;
  margin-left: 10px;
}
header .container .header-profile .ask-advice-btn {
  font-size: 17px;
  font-family: 'Arimo', sans-serif;
  color: #ffffff;
  background-color: #5a6b4b;
  padding: 0 10px;
  font-weight: bold;
  margin-left: 30px;
}

article.profile {
  height: 175px;
}
article.profile .profile-photo {
  width: 135px;
  height: 135px;
  margin: 20px;
  border-radius: 3px;
  border: 1px solid #202223;
  float: left;
}
article.profile .edit-profile-photo {
  margin-left: -156px;
  margin-top: 131px;
  float: left;
}
article.profile .edit-profile-photo .edit-photo-btn {
  float: left;
  cursor: pointer;
}
article.profile .edit-profile-photo .edit-photo-lbl {
  float: left;
  padding-left: 10px;
  font-family: "pt-sans";
  font-size: 14px;
  line-height: 24px;
}
article.profile .article-content.profile {
  padding: 0px;
  margin-left: 0;
  width: 38.5%;
}
article.profile .article-content.profile .headline-container {
  font-family: "pt-sans";
  margin-top: 20px;
  float: left;
}
article.profile .article-content.profile .headline-container .paragraph {
  width: 100%;
  float: left;
}
article.profile .article-content.profile .headline-container .headline {
  font-size: 42px;
  line-height: 34px;
  letter-spacing: 1px;
  text-align: center;
}
article.profile .article-content.profile .headline-container .edit-headline {
  float: right;
}
article.profile .article-content.profile .headline-container .tagline {
  font-size: 20px;
  line-height: 22px;
  padding: 0 10px;
  text-align: center;
}
article.profile .article-content.profile .headline-container .edit-tagline {
  float: right;
}
article.profile .btns-grid {
  margin-left: 0px;
}
article.profile .btns-grid .share-contact-btns-container {
  float: right;
  margin-top: 145px;
}
article.profile .btns-grid .share-contact-btns-container .share {
  font-size: 17px;
  font-family: 'Arimo', sans-serif;
  color: #a5a3a2;
  background-color: #ffffff;
  padding: 0 10px;
  height: 29px;
  border-top: 1px dotted #878887;
  border-left: 1px dotted #878887;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
}
article.profile .btns-grid .share-contact-btns-container .contact {
  font-size: 17px;
  font-family: 'Arimo', sans-serif;
  color: #a5a3a2;
  background-color: #ffffff;
  padding: 0 10px;
  height: 29px;
  border-top: 1px dotted #878887;
  border-left: 1px dotted #878887;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
}

body {
  background: url("../../src/images/background.jpg");
  font-family: 'pt-sans', sans-serif;
}
body section.container {
  margin-top: 30px;
  width: 850px;
  min-width: 850px;
}
body section.container article {
  background-color: #ffffff;
  border: 1px solid #c5c3c2;
  margin-bottom: 7px;
  border-radius: 3px;
}
body section.container article .main {
  display: block;
  padding-right: 20px;
}
body section.container article .main > p {
  display: inline;
  border: 1px solid transparent;
}
body section.container article .main > ul, body section.container article .main > div.paragraph {
  border: 1px solid transparent;
}
body section.container article .main > p.company-name, body section.container article .main p.industry, body section.container article .main p.title {
  font-weight: bold;
  line-height: 4;
}
body section.container article .main > p.start-date {
  opacity: 0.5;
  margin: 0 0 0 125px;
}
body section.container article .main > p.end-date {
  opacity: 0.5;
}
body section.container article .main > p.location {
  opacity: 0.5;
  margin: 0 0 0 130px;
}
body section.container article .main > p.establishment {
  font-weight: bold;
  line-height: 4;
}
body section.container article .article-btn {
  font-size: 17px;
  font-family: 'Arimo', sans-serif;
  color: #ffffff;
  background-color: #4d322a;
  padding: 0 10px;
  cursor: initial;
  border-radius: 2px;
  border: 0;
  height: 32px;
  min-width: 100px;
  margin-bottom: 20px;
}
body section.container article .article-content {
  padding: 0 40px;
}
body section.container article .article-divider {
  width: 100%;
  clear: both;
  margin-bottom: 25px;
  border-top: 1px solid #c5c3c2;
}
body section.container article .comment-divider {
  clear: both;
  margin: 0 40px 40px 40px;
  border-top: 1px solid #c5c3c2;
}
body section.container article .divider {
  border-top: 1px solid #c5c3c2;
}
body section.container article .article-controll-btns {
  float: right;
  margin: 0 40px 6px 0;
}
body section.container article .article-controll-btns a {
  color: #4d322a;
  text-decoration: none;
  font-size: 16px;
}
body section.container article .article-controll-btns .count {
  background-color: #a99994;
  cursor: pointer;
  font-size: 10px;
  padding: 4px 6px;
  color: #ffffff;
}
body section.container article .article-controll-btns.edit {
  margin-bottom: 0px;
}
body section.container article .article-controll-btn-wrapper {
  border: 3px solid #e5e5e5;
  background-color: #f1f1f1;
}
body section.container article .comments-content {
  padding: 0 60px;
}

section.container article .article-content.editMode {
  background-color: #ece7e4;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-bottom: 30px;
}
section.container article .row.editMode {
  margin-bottom: 20px;
}
section.container article .edit input[type="text"] {
  border: 2px solid #a89892;
  border-color: #a89892;
  height: 30px;
}
section.container article .edit textarea {
  border: 2px solid #a89892;
  border-color: #a89892;
  width: 100%;
  height: 60px;
  resize: none;
}
section.container article .edit .goal-description {
  height: 125px;
  margin: 15px 0 10px 0;
}
section.container article .edit .save-btn, section.container article .edit .cancel-btn {
  font-size: 17px;
  font-family: 'Arimo', sans-serif;
  color: #ffffff;
  background-color: #4f619c;
  padding: 0 10px;
  border: 1px solid #4f619c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  height: 30px;
  width: 65px;
  font-weight: bold;
  font-size: 15px;
}
section.container article .edit .save-btn {
  padding: 0;
  margin: 0 0 0 20px;
}
section.container article .edit .cancel-btn {
  padding: 0;
  margin: 0 15px 15px 10px;
}
section.container article .edit .responsibilities {
  height: 150px;
  margin: 15px 0 10px 0;
}
section.container article .edit .description {
  height: 70px;
}
section.container article .edit .company-name {
  width: 268px;
}
section.container article .edit .experience {
  padding: 0 0 0 20px;
}
section.container article .edit .industry {
  width: 140px;
  margin: 10px 10px 20px 55px;
}
section.container article .edit .industry-reg {
  width: 140px;
  margin-top: 3px;
}
section.container article .edit .title {
  width: 240px;
  margin: 10px 10px 20px 0px;
}
section.container article .edit .title-reg {
  margin: 3px 5px 0px 0px;
  border: 2px solid #a89892;
  width: 230px;
}
section.container article .edit .icon-wrapper {
  cursor: pointer;
}
section.container article .edit .icon-wrapper .icon {
  float: right;
  margin-top: -25px;
}
section.container article .edit .icon-wrapper .icon.edit {
  margin-right: -40px;
}
section.container article .edit .icon-wrapper .icon.edit-reg {
  margin: 5px -16px 0;
}
section.container article .edit .icon-wrapper-reg {
  float: left;
  margin: 43px 25px 0;
}
section.container article .edit .info-link {
  padding-top: 8px;
  margin-bottom: 8px;
}
section.container article .edit .info-title-reg {
  margin: 12px;
  text-align: center;
  font-weight: bold;
}
section.container article .edit .start-date {
  width: 95px;
  margin: 10px 0px 20px 120px;
}
section.container article .edit .start-date-reg {
  width: 87px;
}
section.container article .edit .end-date {
  width: 95px;
  margin: 10px 10px 20px 17px;
}
section.container article .edit .location {
  width: 165px;
}
section.container article .edit .establishment {
  width: 268px;
  margin: 10px 10px 20px 0px;
}
section.container article .edit .description_edu {
  margin-bottom: 20px;
}
section.container article .edit .gpa {
  margin: 0px 0px 15px 0px;
}
section.container article .edit .responsibilities_guest {
  height: 200px;
}
section.container article .edit .description_guest {
  height: 30px;
}
section.container article.profile .article-content.editMode {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
section.container article.profile .headline-container.edit .headline {
  width: 300px;
}
section.container article.profile .headline-container.edit .tagline {
  margin-bottom: 10px;
}

#contact-info, #share-info {
  display: none;
}

article .info-blog-wrapper .info-blog {
  background-color: #ece7e4;
  font-family: 'pt-sans';
  color: #4D322B;
  border: 1px dotted #A19B9B;
  padding: 0px 16px 20px 20px;
  height: 114px;
  margin-right: -48px;
}
article .info-blog-wrapper .info-title {
  font-weight: bold;
  font-family: 'sans';
  padding-top: 13px;
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 30px;
}
article .info-blog-wrapper .info-link {
  padding-top: 18px;
  margin-left: 26px;
}
article .info-blog-wrapper .info-link a {
  color: #000;
}
article .info-blog-wrapper .info-privacy {
  margin-top: -22px;
  margin-left: 46px;
}
article .info-blog-wrapper .export, article .info-blog-wrapper .location {
  margin-right: -2px;
}
article .info-blog-wrapper .privacy-select {
  width: 132px;
  height: 33px;
  border-radius: 0px;
  border: 1px solid #74615D;
  color: #70584E;
  font-size: 18px;
}
article .info-blog-wrapper .address {
  padding: 0px;
  float: right;
  width: 80%;
  margin-bottom: 0px;
  margin-top: -4px;
  margin-right: 13px;
}
article .info-blog-wrapper .edit-btn-cont .edit-btn {
  background: url("../../src/images/edit.png") no-repeat;
  padding: 20px 0px 0px 0px;
  margin-top: 18px;
  margin-left: 0px;
  float: left;
  width: 21px;
  height: 21px;
}
article .info-blog-wrapper .exp-buttons {
  background-color: #ece7e4;
  font-family: 'pt-sans';
  color: #4D322B;
  width: 149px;
  margin-left: 45px;
  margin-right: 23px;
  margin-top: 20px;
}
article .info-blog-wrapper .exp-buttons .exp-button {
  border: 1px solid #A19B9B;
  font-family: 'Arimo';
  background-color: #fff;
  font-size: 110%;
  float: left;
  width: 30%;
  height: 31px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
}

/*# sourceMappingURL=register.css.map */
