@import '_variables.scss';
@import '_mixins.scss';

@import 'sections/_profile.scss';
@import 'sections/_career-goal.scss';
@import 'sections/_experience.scss';
@import 'sections/_education.scss';

section {
	max-width: $content-width;

	article {
		width: 100%;
		min-height: 200px; // will be removed
	}
}

.uk-grid>* {
	padding-left: 0px;
}

div, section , article {
	border: 1px solid blue;
}