body {
  background: url('../../images/background.jpg'); }
  body section#container {
    margin-top: 36px;
    font-family: "pt-sans";
    width: 960px; }
    body section#container article .topper {
      background-color: #E5E4E2;
      border-bottom: 1px solid #D6D6D6;
      height: 44px;
      font-size: 21px;
      padding-left: 25px;
      line-height: 44px; }
    body section#container article .settings-row {
      width: 89%;
      float: left;
      padding: 14px 20px; }
    body section#container article .last-update {
      color: #B6B6B6;
      float: left;
      font-size: 16px;
      margin-right: 15px; }
    body section#container article .update {
      float: left;
      padding-left: 30px; }
    body section#container article .change {
      color: #50619E;
      cursor: pointer;
      font-size: 16px;
      line-height: 14px;
      padding: 3px 0px 0 120px; }
    body section#container article .add {
      padding: 5px 0px 0 15px; }
    body section#container article .add-change {
      padding: 5px 0 0 90px; }
    body section#container article .profile-row {
      width: 100%;
      float: left; }
    body section#container article p {
      padding: 0px;
      margin: 0px; }
    body section#container article .greyed-background {
      background-color: #EEEEEE; }
    body section#container article .info-label {
      font-size: 20px;
      line-height: 18px;
      float: left; }
    body section#container article .label-value {
      font-size: 18px;
      line-height: 18px;
      float: left;
      padding-left: 20px; }
    body section#container article .update-label {
      color: #50619E;
      cursor: pointer;
      float: right;
      font-size: 14px;
      line-height: 14px; }
    body section#container article .settings {
      border: 1px solid #c5c3c2;
      background-color: #ffffff;
      float: left; }
      body section#container article .settings .photo-set {
        margin: 5px; }
      body section#container article .settings .profile-info-set .name {
        font-size: 24px;
        line-height: 42px; }
      body section#container article .settings .profile-info-set .member-set {
        color: #93908F;
        font-size: 12px;
        line-height: 14px; }
    body section#container article .notif-grid {
      margin-left: 10px; }
    body section#container article .settings-notif {
      border: 1px solid #c5c3c2;
      background-color: #ffffff; }
      body section#container article .settings-notif .notification-row {
        padding: 10px 35px 47.5px; }
        body section#container article .settings-notif .notification-row .ntfcation {
          font-size: 20px;
          float: left; }
        body section#container article .settings-notif .notification-row .time {
          float: right;
          font-size: 18px;
          color: #B6B6B6; }
        body section#container article .settings-notif .notification-row .view {
          float: right;
          font-size: 16px;
          color: #50619E;
          cursor: pointer;
          padding: 10px 0 0 20px; }
      body section#container article .settings-notif .divider {
        clear: both;
        margin: 0 17px 0px;
        border-top: 1px dashed #c5c3c2; }
      body section#container article .settings-notif .more {
        height: 32px;
        border: 1px solid #c5c3c2;
        background-color: #EEEEEE;
        margin: 0px 25px 30px 20px; }
      body section#container article .settings-notif .view-more {
        font-size: 19px;
        color: #93908F;
        text-align: center;
        cursor: pointer; }

header {
  background-color: #ffffff;
  border-top: 1px solid #c5c3c2;
  border-bottom: 2px solid #c5c3c2; }
  header .container {
    height: 63px;
    max-width: 1040px;
    min-width: 960px; }
    header .container .header-logo {
      width: 163px;
      height: 63px;
      background: url('../../images/header-logo.png') no-repeat; }
    header .container .header-profile {
      margin-top: 12px; }
      header .container .header-profile .header-profile-photo {
        width: 30px;
        height: 30px;
        margin: 5px 3px; }
      header .container .header-profile .header-username {
        font-size: 20px;
        line-height: 28px;
        margin-top: 5px;
        margin-left: 5px;
        cursor: pointer; }
      header .container .header-profile .header-username:hover {
        color: #8B8987; }
      header .container .header-profile .ask-advice-btn {
        font-size: 17px;
        font-family: 'Arimo', sans-serif;
        color: #ffffff;
        background-color: #5a6b4b;
        padding: 0 10px;
        border: 1px solid #050505;
        font-weight: bold;
        margin-left: 30px; }
      header .container .header-profile .ask-advice-btn:hover {
        border: 1px solid #050404;
        background-color: #414D36; }

#menu-container {
  position: absolute;
  z-index: 10;
  right: 105px;
  top: 64px;
  display: none; }
  #menu-container #triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: relative;
    left: 80px;
    top: 2px; }
  #menu-container ul {
    background-color: #ffffff;
    width: 170px;
    list-style-type: none;
    box-shadow: 1px 0px 2px 1px #ADABA8;
    border: 1px solid #ADABA8;
    font-family: 'pt-sans', sans-serif; }
    #menu-container ul li {
      border-bottom: 1px solid #D3CFC9;
      height: 30px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 24px;
      padding-top: 10px;
      padding-left: 15px;
      cursor: pointer; }
