<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Reorder</servlet-name>
        <servlet-class>org.oscelot.blackboard.lti.Reorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolsAction</servlet-name>
        <servlet-class>org.oscelot.blackboard.lti.ToolsAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolXml</servlet-name>
        <servlet-class>org.oscelot.blackboard.lti.ToolXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Extension</servlet-name>
        <servlet-class>org.oscelot.blackboard.basiclti.extensions.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>org.oscelot.blackboard.basiclti.services.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Services</servlet-name>
        <servlet-class>org.oscelot.blackboard.lti.services.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonItem</servlet-name>
        <servlet-class>org.oscelot.blackboard.lti.LessonItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reorder</servlet-name>
        <url-pattern>/system/reordertools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reorder</servlet-name>
        <url-pattern>/system/reorderdomains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reorder</servlet-name>
        <url-pattern>/course/reordertools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolsAction</servlet-name>
        <url-pattern>/system/toolsaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolsAction</servlet-name>
        <url-pattern>/course/toolsaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolXml</servlet-name>
        <url-pattern>/toolxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Extension</servlet-name>
        <url-pattern>/extension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Services</servlet-name>
        <url-pattern>/lti/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonItem</servlet-name>
        <url-pattern>/lessonitem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>error.jsp</welcome-file>
    </welcome-file-list>
</web-app>
