$primary-color: #e2670d;
$secondary-color: #888;
$text-color: #555;
$inverted-text-color: #fff;

$header-color: #863e09;
$page-title-color: #f9d0b3;
$footer-background: #47382B;
$mode-color: #A0612D;

$body-background: #f3f3f3;

$banner-background: #574535;
$tagline-color: #f93;

$section-background: #fff;
$section-footer-background: #fcfcfc;
$section-footer-color: #aaa;

$modal-overlay-background: rgba(255,255,255,0.95);

$facebook-color: #3a5795;
$highlight: #ffffdd;