h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 0.667em;
}
h4 {
  font-size: 0.445em;
}
h5 {
  font-size: 0.296em;
}
h6 {
  font-size: 0.197em
}

p {
  line-height: 1.4;
}