<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage Admin | Admin LTI Key')">
  </th:block>
</head>

<body class="admin">
  <div id="container">
    <header th:replace="adminHeader :: header">
    </header>
    <div class="section content">
      <label> Your key and secret.
      </label>
      <form name="" class="container" action="#" method="">

        <label th:text="'Organization: ' + ${organization}"></label>

        <label th:text="'Consumer Key: ' + ${consumerKey}"></label>

        <label th:text="'Secret: ' +${secret}"></label>

      </form>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>