<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Vyllage Admin | Accounts Roles Management</title>
  <base href="." th:href="@{/}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/admin.css" />
  <link rel="shortcut icon" type="image/png" href="images/logo-orange.png" />

  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />

  <meta name="_csrf_token" th:content="${_csrf.token}" id="meta_token" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" id="meta_header" />
  <th:block th:replace="fragment-userInfo :: userInfo">
  </th:block>
  <div togglz:active="NEW_RELIC" th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body class="admin">
  <div id="container">
    <header th:replace="adminHeader :: header">
    </header>
    <div class="section content">
      <label> Create a key and secret for your LTI.
      </label>
      <form name="adminForm" class="container" action="#" th:action="@{/admin/lti/keys}" th:object="${ltiKeyForm}" method="post"
      onsubmit="adminFormSubmit()">
        <select id='organizationId' name='organizationId' onchange="adminFormOrganizationChange()">
          <option th:each="org : ${organizations}" th:value="${org.organizationId}" th:text="${org.organizationName}">Some organization</option>
        </select>

        <label> Consumer Key, the selected organization will be automatically prepended.</label>
        <input th:field="*{consumerKey}"></input>

        <label> Secret </label>
        <input th:field="*{secret}"></input>
        
        <label> LTI Instance Id </label>
        <input th:field="*{externalOrganizationId}"></input>

        <button name="save" type="submit" class="pull right padded send-btn">Submit</button>
        <label th:if="*{error != null}" th:text="*{error}" style="color: red;"></label>
      </form>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script type="text/javascript">
  // <![CDATA[
  var el = document.getElementById('organizationId');

  if (el.childNodes.length === 1) {
    document.adminForm.organizationId.disabled = true;
  }

  adminFormSubmit = function() {
      document.adminForm.organizationId.disabled = false;
    }
    // ]]>
  </script>
  <script togglz:active="GOOGLE_ANALYTICS">
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-62026590-1', {
    'userId': document.getElementById('meta_userInfo_user') === null ? null : document.getElementById(
      'meta_userInfo_user').getAttribute('content')
  });
  ga('send', 'pageview');
  </script>
  <div togglz:active="NEW_RELIC" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>