<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>admin - accounts</title>
  <base href="." th:href="@{/}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/admin.css" />

  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />

  <meta name="_csrf_token" th:content="${_csrf.token}" id="meta_token" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" id="meta_header" />
</head>

<body>
  <header>
    <div id="header-container" th:name="${accountName.firstName}">
    </div>
  </header>

  <section class="container">
    <form action="#" th:action="@{/admin/user/createBatch}" th:object="${batchAccount}" method="post">
      <div class="four columns">
        <select th:field="*{organization}">
          <option th:each="grp : ${organizations}" th:value="${grp.organizationId}" th:text="${grp.organizationName}">Some group</option>
        </select>
        <div class="content-part">
          <!-- 							<input type="text" /> -->
          <textarea rows="20" cols="80" th:field="*{emails}">
          </textarea>
        </div>
        <br></br>
        <div class="content-part">
          <button name="batchAccounts" type="submit" class="send-btn">Submit</button>
        </div>
        <br></br>
        <div class="content-part">
          <label th:if="${error != null}" th:text="${error}" style="color: red;"></label>
        </div>
      </div>

    </form>

  </section>
  <script type="text/javascript" src="javascript/base.js"></script>
</body>

</html>