<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage Admin | Accounts Roles Management')">
  </th:block>
</head>

<body class="admin">
  <div id="container">
    <header th:replace="adminHeader :: header">
    </header>
    <div class="section content">
      <label> Assigns roles to one or more users from an organization. Appending or overwriting them according to the selection.
      </label>
      <form name="adminForm" class="container" action="#" th:action="@{/admin/users/roles}" th:object="${accountRolesManagementForm}"
      method="post" onsubmit="adminFormSubmit()">
        <select id='organizationId' name='organizationId' onchange="adminFormOrganizationChange()">
          <option th:each="org : ${organizations}" th:value="${org.organizationId}" th:text="${org.organizationName}">Some organization</option>
        </select>
        <select id="userIds" name="userIds" multiple="multiple">
          <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.username}">Some User</option>
        </select>
        <select name="roles" multiple="multiple">
          <option th:each="rol : ${roles}" th:value="${rol.role}" th:text="${rol.role}">Some Role</option>
        </select>
        <label>Replace</label>
        <input type="radio" th:field="${accountRolesManagementForm.append}" value="false" />
        <label>Append</label>
        <input type="radio" th:field="${accountRolesManagementForm.append}" value="true" />

        <button name="set-roles" type="submit" class="pull right padded send-btn">Submit</button>
        <label th:if="*{error != null}" th:text="*{error}" style="color: red;"></label>
      </form>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script type="text/javascript">
  // <![CDATA[
  var el = document.getElementById('organizationId');

  if (el.childNodes.length === 1) {
    document.adminForm.organizationId.disabled = true;
  }

  adminFormSubmit = function() {
    document.adminForm.organizationId.disabled = false;
  }

  //Updates the select with the users from the selected organization
  adminFormOrganizationChange = function() {
      var organizationId = document.adminForm.organizationId.value;

      var request = new XMLHttpRequest();

      request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {
          var users = JSON.parse(request.responseText);
          var userSelect = document.getElementById('userIds');
          userSelect.options.length = 0; //clearing options

          for (i = 0; i < users.length; i++) {
            userSelect.options[i] = new Option(users[i].username, users[i].userId, false, false);
          }

          //           console.log(request.responseText);

        }
      }
      request.open("GET", "/admin/organization/" + organizationId + "/users", true);
      request.send();

    }
    // ]]>
  </script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>