<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage Admin | Accounts')">
  </th:block>
</head>

<body>
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-white.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
        <span class="page-title">Account Management</span>
      </div>
    </header>
    <div class="content">
      <table>
        <thead class="tbl-name">
          <tr>
            <th class="names">name</th>
            <th>status</th>
            <th class="lst-update">last update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="names">John Smith</td>
            <td>student</td>
            <td class="lst-update">1 day ago</td>
          </tr>
          <tr>
            <td class="names">Alison Kress </td>
            <td>student</td>
            <td class="lst-update">3 day ago</td>
          </tr>
          <tr>
            <td class="names">Trudi Hanks</td>
            <td>student</td>
            <td class="lst-update">4 days ago</td>
          </tr>
          <tr>
            <td class="names">Chris Sweet </td>
            <td>student</td>
            <td class="lst-update">1 week ago</td>
          </tr>
          <tr>
            <td class="names">Richard Zielke</td>
            <td>student</td>
            <td class="lst-update">13 days ago</td>
          </tr>
          <tr>
            <td class="names">Leslie Gonzales</td>
            <td>student</td>
            <td class="lst-update">13 days ago</td>
          </tr>
          <tr>
            <td class="names">Jeff Larson</td>
            <td>student</td>
            <td class="lst-update">2 weeks ago</td>
          </tr>
          <tr>
            <td class="names">David Atalig</td>
            <td>student</td>
            <td class="lst-update">2 weeks ago </td>
          </tr>
          <tr>
            <td class="names">Chris Meade</td>
            <td>student</td>
            <td class="lst-update"> 22 days ago</td>
          </tr>
          <tr>
            <td class="names">Anne Mendenhall</td>
            <td>student</td>
            <td class="lst-update">1 month ago</td>
          </tr>
          <tr>
            <td class="names">Terry Walters</td>
            <td>student</td>
            <td class="lst-update">34 days ago</td>
          </tr>
          <tr>
            <td class="names">Carol Selva</td>
            <td>student</td>
            <td class="lst-update"> 39 days ago</td>
          </tr>
          <tr>
            <td class="names">Dan Predoehl</td>
            <td>student</td>
            <td class="lst-update">44 days ago</td>
          </tr>
          <tr>
            <td class="names">Greg Gulliford</td>
            <td>student</td>
            <td class="lst-update">49 days ago</td>
          </tr>
          <tr>
            <td class="names">Eric Holmes</td>
            <td>student</td>
            <td class="lst-update">2 months ago</td>
          </tr>
          <tr class="bottom">
            <td colspan="3" class="names">
              <p> 33 aditional students </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>