<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage Admin | Batch Account Creation')">
  </th:block>
</head>

<body class="admin">
  <div id="container">
    <header th:replace="adminHeader :: header">
    </header>
    <div class="section content">
      <form name="adminForm" class="container" action="#" th:action="@{/admin/user/batch/createBatch}" th:object="${batchAccount}"
      method="post" onsubmit="adminFormSubmit()">
        <select id='organization' name='organization' th:field="*{organization}">
          <option th:each="grp : ${organizations}" th:value="${grp.organizationId}" th:text="${grp.organizationName}">Some organization</option>
        </select>
        <select name="role">
          <option th:each="rol : ${roles}" th:value="${rol.role}" th:text="${rol.role}" th:selected="${rol.role == 'STUDENT'}">Some Role</option>
        </select>
        <textarea rows="20" cols="80" th:field="*{txt}">
        </textarea>
        <button name="batchAccounts" type="submit" class="pull right padded send-btn">Submit</button>
        <label th:if="${error != null}" th:text="${error}" style="color: red;"></label>
      </form>
    </div>
  </div>

  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script>
  var el = document.getElementById('organization');

  if (el.childNodes.length === 1) {
    document.adminForm.organization.disabled = true;
  }
  adminFormSubmit = function() {
    document.adminForm.organization.disabled = false;
  }
  </script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>