<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage Admin | Account Management')">
  </th:block>
</head>

<body class="admin">
  <div id="container">
    <header th:replace="adminHeader :: header">
    </header>
    <div class="section content">
      <form name="adminForm" class="container" action="#" th:action="@{/admin/users}" th:object="${adminUsersForm}" method="GET"
      onsubmit="adminFormSubmit()">
        <select id='organizationId' name='organizationId' onchange="this.form.submit()">
          <option th:each="org : ${organizations}" th:value="${org.organizationId}" th:text="${org.organizationName}" th:selected="${org.selected}">Some organization</option>
        </select>
        <!--         <button name="select-organization" type="submit" class="pull right send-btn">Submit</button> -->
        <table>
          <thead>
            <tr>
              <th>
                Username
              </th>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Organization
              </th>
              <th>
                Roles
              </th>
              <th>
                Document
              </th>
              <th>
                Enable/Disable
              </th>
              <th>
                Guest to Student
              </th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.username}">
              </td>
              <td th:text="${user.firstName}">
              </td>
              <td th:text="${user.lastName}">
              </td>
              <td>
                <a th:href="@{/admin/user/{userId}/organizations(userId=${user.userId})}"> Edit </a>
              </td>
              <td>
                <th:block th:each="auth : ${user.authorities}">
                  <div th:text="${auth.authority}"></div>
                </th:block>
              </td>
              <td th:if="${user.documents != null and !user.documents.isEmpty()}">
                <th:block th:each="doc : ${user.documents}">
                  <a th:href="@{/resume/{documentId}(documentId=${doc})}" th:text="${'Document ' + doc}"> Document </a>
                </th:block>
              </td>
              <td th:if="${user.documents == null or user.documents.isEmpty() }">
                <label>-</label>
              </td>
              <td>
                <!--               th:href="@{/admin/user/{userId}/enable-disable(userId=${user.userId})}" -->
                <a th:id="${'enableDisableUser' + user.userId}" th:onclick="'enableDisableUser(\'' + ${user.userId} + '\');'" th:text="${user.enabled} == true ? 'Disable' : 'Enable'">
                </a>
              </td>
              <td th:if="${user.guest}">
                <a th:id="${'activateUser' + user.userId}" th:onclick="'activateUser(\'' + ${user.userId} + '\');'" th:text="'Activate'">
                </a>
              </td>
              <td th:if="${user.guest == false}">
                <label>-</label>
              </td>
            </tr>
          </tbody>
        </table>
        <label id="errorLabel" style="color: red;"></label>
      </form>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script type="text/javascript">
  // <![CDATA[
  var el = document.getElementById('organizationId');

  if (el.childNodes.length === 1) {
    document.adminForm.organizationId.disabled = true;
  }

  adminFormSubmit = function() {
    document.adminForm.organizationId.disabled = false;
  }

  enableDisableUser = function(userId) {
    var request = new XMLHttpRequest();

    request.onreadystatechange = function() {
      if (request.readyState == 4 && request.status == 200) {
        var errorLabel = document.getElementById('errorLabel');
        var response = JSON.parse(request.responseText);

        if (response.error != null) {
          errorLabel.innerHTML = response.error;
          return;
        }

        var link = document.getElementById('enableDisableUser' + response.userId);

        if (link.text === 'Enable') {
          link.text = 'Disable';
          errorLabel.innerHTML = "";
        } else {
          link.text = 'Enable';
          errorLabel.innerHTML = "";
        }

      }
    }
    request.open("GET", "/admin/user/" + userId + "/enable-disable", true);
    request.send();

  }

  activateUser = function(userId) {
    var request = new XMLHttpRequest();
    var organizationSelect = document.getElementById("organizationId");
    var organizationId = organizationSelect.options[organizationSelect.selectedIndex].value;

    request.onreadystatechange = function() {
      if (request.readyState == 4 && request.status == 200) {
        var response = JSON.parse(request.responseText);

        var link = document.getElementById('activateUser' + response.userId);

        var label = document.createElement("label");
        label.innerHTML = "-";
        link.parentNode.replaceChild(label, link);
      }
    }
    request.open("GET", "/admin/user/" + userId + "/organization/" + organizationId + "/activate", true);
    request.send();
  }

  // ]]>
  </script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>