<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage Admin | Account Organization Management')">
  </th:block>
</head>

<body class="admin">
  <div id="container">
    <header th:replace="adminHeader :: header">
    </header>
    <div class="section content">
      <label>Assigns a user to one or more organizations with the selected roles, keeping the existing ones unchanged. Deselected
        organizations are removed. </label>
      <form name="adminForm" class="container" action="#" th:action="@{/admin/user/{userId}/organizations(userId=${userId})}" th:object="${userOrganizationForm}"
      method="post">
        <select id="organizationIds" name="organizationIds" multiple="multiple">
          <option th:each="org : ${organizationOptions}" th:value="${org.organizationId}" th:text="${org.organizationName}" th:selected="${org.selected}">Some organization</option>
        </select>
        <select id="roles" name="roles" multiple="multiple">
          <option th:each="rol : ${roles}" th:value="${rol.role}" th:text="${rol.role}">Some Role</option>
        </select>
        <button name="set-organizations" type="submit" class="pull right padded send-btn">Submit</button>
        <label th:if="*{error != null}" th:text="*{error}" style="color: red;"></label>
      </form>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>