<header th:fragment="header">
  <div class="content">
    <div class="logo">
      <img src="images/logo-white.png" alt="Vyllage" />
      <span>Vyllage</span>
    </div>
    <span class="page-title">Account Management</span>

    <div class="content">
      <a th:href="@{/admin/users}"> Users </a> &nbsp; |
      <a th:href="@{/admin/user/roles}"> Single User Role Editor </a> &nbsp; |
      <a th:href="@{/admin/users/roles}"> Users Role Editor </a> &nbsp;|
      <a th:href="@{/admin/user/batch}"> Batch Account </a> &nbsp;|
      <a th:href="@{/admin/lti/keys}"> LTI Link </a> &nbsp;|
      <a th:href="@{/togglz}"> Togglz </a>
    </div>
  </div>
</header>