<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage Admin | Admin LTI Key')">
  </th:block>
</head>

<body class="admin">
  <div id="container">
    <header th:replace="adminHeader :: header">
    </header>
    <div class="section content">
      <label> Create a key and secret for your LTI.
      </label>
      <form name="adminForm" class="container" action="#" th:action="@{/admin/lti/keys}" th:object="${ltiKeyForm}" method="post"
      onsubmit="adminFormSubmit()">
        <select id='organizationId' name='organizationId' onchange="adminFormOrganizationChange()">
          <option th:each="org : ${organizations}" th:value="${org.organizationId}" th:text="${org.organizationName}">Some organization</option>
        </select>

        <label> Consumer Key, the selected organization will be automatically prepended.</label>
        <input th:field="*{consumerKey}"></input>

        <label> Secret </label>
        <input th:field="*{secret}"></input>

        <button name="save" type="submit" class="pull right padded send-btn">Submit</button>
        <label th:if="*{error != null}" th:text="*{error}" style="color: red;"></label>
      </form>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script type="text/javascript">
  // <![CDATA[
  var el = document.getElementById('organizationId');

  if (el.childNodes.length === 1) {
    document.adminForm.organizationId.disabled = true;
  }

  adminFormSubmit = function() {
      document.adminForm.organizationId.disabled = false;
    }
    // ]]>
  </script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>