@import "./components/common/variables";

@import "normalize-scss/normalize";
@import "ionicons/scss/ionicons";
@import "jeet/scss/jeet/index";

@import "./components/common/index";

@import "./components/modal/modal";
@import "./components/buttons/buttons";
@import "./components/header/header";
@import "./components/footer/footer";


.error {
  color: red;
} 

.u-full-width {
  width: 100%;
}

span {
  color: inherit;
}

