@import "normalize-scss/normalize";
@import "skeleton-scss/scss/skeleton";
@import "ionicons/scss/ionicons";
@import "./components/common/align";
@import "./components/modal/modal";
@import "./components/buttons/buttons";

body {
  background: url('../images/background.jpg');
  font-family: 'PT sans', sans-serif;
}

.error {
  color: red;
} 

//This class is added by react-contenteditable components of contenteditable elements
.react-contenteditable {
  outline: 0px solid transparent; // Removes border around contenteditable element
}

.icon {
  font-size: 16px;
  padding: 10px;
}