<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="/css/info.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage | Contact Us')">
  </th:block>
</head>

<body class="contact info">
  <div id="container">
    <header>
      <a href="/" class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </a>
    </header>
    <div class="content">
      <div class="centered">
        <label>Request demo, partners, press &amp; general inquiries</label>
        <h3><a href="mailto:info@vyllage.com">info@vyllage.com</a></h3>
        <br/>
        <br/>
        <label>Need help?</label>
        <h3><a href="mailto:support@vyllage.com">support@vyllage.com</a></h3>
        <br/>
        <br/>
        <label>Connect with us on</label>
        <h3>
          <a href="//www.facebook.com/vyllage" class="flat icon button"><i class="ion-social-facebook"></i></a>
          <a href="//www.twitter.com/vyllagehq" class="flat icon button"><i class="ion-social-twitter"></i></a>
          <a href="//www.linkedin.com/company/vyllage" class="flat icon button"><i class="ion-social-linkedin"></i></a>
        </h3>
        <br/>
        <br/>
      </div>
    </div>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script togglz:active="ZOPIM_MESSAGE_CLIENT" type="text/javascript">
  window.$zopim || (function(d, s) {
    var z = $zopim = function(c) {
        z._.push(c)
      },
      $ = z.s = d.createElement(s),
      e = d.getElementsByTagName(s)[0];
    z.set = function(o) {
      z.set._.push(o)
    };
    z._ = [];
    z.set._ = [];
    $.async = !0;
    $.setAttribute("charset", "utf-8");
    $.src = "//v2.zopim.com/?2yTp08ZLPRPIeR1PSlNmH7ZXuZ7Hitop";
    z.t = +new Date;
    $.type = "text/javascript";
    e.parentNode.insertBefore($, e)
  })(document, "script");
  </script>
  <!--End of Zopim Live Chat Script-->
  <script togglz:active="GOOGLE_ANALYTICS">
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script',
    '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-62026590-1', {
    'userId': document.getElementById('meta_userInfo_user').getAttribute(
      'content')
  });
  ga('send', 'pageview');
  </script>
  <div togglz:active="NEW_RELIC" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>