<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="shortcut icon" type="image/png" href="images/logo-orange.png" />
  <link rel="stylesheet" href="css/email.css" />
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="container">
    <div class="header">
      <img src="images/logo.png" alt="Logo" />
    </div>
    <div class="content">
      <h1 th:text="'Hello ' + ${recipientName}"></h1>

      <p th:text="${message}"></p>

      <p>Click <a th:href="@{${link}}">here</a> to view online resume.</p>
    </div>

    <div class="signature">
      <div class="message">Cheers,</div>
      <img src="/images/signature.png" alt="Signature">
    </div>

    <div class="footer">
      <span class="pull left">
        E-mail us at
        <a href="mailto:hello@vyllage.com">hello@vyllage.com</a>.
      </span>

      <a class="pull right" href="http://www.vyllage.com">www.vyllage.com</a>
    </div>
  </div>
</body>

</html>