<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background: #f3f3f3; color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; height: 100%;">

<head style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css" style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;"
  />
</head>

<body style="background: #f3f3f3; color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; height: auto; width: 100%;">
  <div id="container" style="background: #fff; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,.15); box-sizing: border-box; color: #555; display: block; float: none; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; height: auto; margin: 1em auto 0; max-width: 550px; min-height: 0; padding: 1.25em 3em 2.5em; position: relative; width: 100%;">
    <div class="header" style="border-bottom: #eee solid 1px; color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; padding-bottom: 1em; text-align: center;">
      <img height="40" th:src="@{http://__${environment.getProperty('vyllage.domain','www.vyllage.com')}__/images/logo.png}" alt="Logo"
      style="color: #555; display: inline-block; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; height: 52px;"
      />
    </div>
    <div class="content" style="box-sizing: border-box; color: #555; display: block; float: none; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; margin-left: auto; margin-right: auto; max-width: 960px; padding: 2em 1em 1em; width: auto;">
      <strong style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;">Hello
        <span th:if="${firstName} != null" th:text="${firstName}" style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;"></span>,
      </strong>

      <p style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px; font-weight: 300; line-height: 1.4; margin: 1.25em 0;">
        Welcome to Vyllage! Your school has created an account just for you.
        <a th:href="@{http://__${environment.getProperty('vyllage.domain','www.vyllage.com')}__/login}" style="border-bottom: #e2670d dashed 1px; color: #e2670d; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; outline: 0; text-decoration: none; transition: all .2s ease;">Log In</a>        with this e-mail and the following password:
      </p>

      <p style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px; font-weight: 300; line-height: 1.4; margin: 1.25em 0;">
        <strong style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;">Password:</strong>
        <code th:text="${password}" style="background: #eaeaea; border-radius: 3px; color: #555; display: inline-block; font-family: monospace; font-weight: 100; padding: .15em .3em;">Oops, there was an error. Please contact us at <a href="mailto:hello@vyllage.com" style="border-bottom: #e2670d dashed 1px; color: #e2670d; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; outline: 0; text-decoration: none; transition: all .2s ease;">hello@vyllage.com</a>.</code>
      </p>
    </div>

    <div class="action" style="background: #fdede2; border-radius: 5px; box-shadow: inset 0 2px 0 rgba(0,0,0,.015); color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 1em; text-align: center;">
      <a class="padded embossed normal-caps button" th:href="@{http://__${environment.getProperty('vyllage.domain','www.vyllage.com')}__/login}"
      style="background: #e2670d; border: 2px solid transparent; border-color: rgba(0,0,0,.15); border-radius: 6px; box-shadow: 0 1px 1px rgba(0,0,0,.15),inset 0 1px 1px rgba(255,255,255,.25); color: #fff; display: inline-block; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: .9em; margin: 2px; outline: 0; padding: .75em 1.5em; text-decoration: none; text-shadow: 0 1px 2px rgba(0,0,0,.15); text-transform: inherit; transition: background .2s ease,color .2s ease;">Log In Now!</a>
    </div>

    <div class="signature" style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 1em 1em 0;">
      <p style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px; font-weight: 300; line-height: 1.4; margin: 1.25em 0;">See you there,</p>
      <img height="25" alt="Signature" th:src="@{http://__${environment.getProperty('vyllage.domain','www.vyllage.com')}__/images/signature.png}"
      style="color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; height: 64px; margin-top: -1em; opacity: .75;"
      />
      <div class="author" style="color: rgba(0,0,0,.5); font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: .7em; margin: -1em 0 -1.5em; position: relative; text-transform: uppercase; z-index: 2;">Chief of Vyllage</div>
    </div>

    <div class="footer" style="background: #fcfcfc; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: #f4f4f4 solid 1px; bottom: 0; color: #555; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: .8em; left: 0; padding: 1em 2em; position: absolute; right: 0; text-align: center;">
      <span style="color: #888; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;">
        For questions and feedback, e-mail us at
        <a href="mailto:hello@vyllage.com" style="color: #e2670d; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; outline: 0; text-decoration: none; transition: all .2s ease;">hello@vyllage.com</a>.
      </span>
    </div>
  </div>

  <div class="link-out" style="color: #a2a2a2; display: block; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 12px; padding: 12px; text-align: center;">
    Let's succeed together. Visit us at <a th:href="@{http://__${environment.getProperty('vyllage.domain','www.vyllage.com')}__}"
    style="color: #888; font-family: Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif; outline: 0; transition: all .2s ease;">www.vyllage.com</a>.
  </div>
</body>

</html>