<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="/css/error.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage | ' + ${status} + ' - ' + ${error})">
  </th:block>
</head>

<body class="error">
  <div id="container">
    <form action="" method="post">
      <header>
        <div class="content">
          <div class="logo">
            <img src="images/logo-orange.png" alt="Vyllage" />
            <span>Vyllage</span>
          </div>
        </div>
      </header>
      <div th:switch="${status}" class="message">
        <th:block th:case="'401'">
          <h1>Forbidden.</h1>
          <p>
            You are not authorized to access this page. Either <a href="/login">login</a> or request access from the Administrator.
          </p>
        </th:block>
        <th:block th:case="'403'">
          <h1>Forbidden.</h1>
          <p>
            You are not authorized to access this page. Either <a href="/login">login</a> or request access from the Administrator.
          </p>
        </th:block>
        <th:block th:case="'404'">
          <h1>Page not found.</h1>
          <p>
            The page you are trying to access cannot be found.
          </p>
        </th:block>
        <th:block th:case="*">
          <h1>Oops. Something went wrong!</h1>
          <p>
            We're working to fix this. Please head back to the <a href="/">homepage</a> for now.
          </p>
        </th:block>
      </div>
      <div class="content">
        <th:block th:if="${displayWebError}">
          <div class="timestamp" th:if="${exception != null}" th:text="${timestamp}"></div>
          <div class="exception">
            <div class="row" th:if="${exception != null}">
              <h2 th:text="'Exception: ' + ${exception}">
                java.lang.NullpointerExcetion</h2>
            </div>
            <div class="row" th:if="${exception != null and message != null}">
              <h2 th:text="'Message: ' + ${message}">Message Error</h2>
            </div>
          </div>
          <div class="row" th:if="${exception != null and trace != null}">
            <textarea class="stack-trace" rows="50" cols="90" th:text="${trace}"></textarea>
          </div>
          <div class="row" th:if="${exception == null and message != null}">
            <h2 th:text="'Message: ' + ${message}">Message Error</h2>
          </div>
        </th:block>
      </div>
    </form>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>