<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Expire</title>
	<base href="." th:href="@{/}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/expire.css" />

	<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
	<form action="" method="post">
		<header>
			<div class="container">
				<div class="row">
					<div class="twelve columns">
						<div class="u-pull-left header-logo"></div>
						<div class="u-pull-right header-profile">
							<img class="u-pull-left header-profile-photo" alt="" src="images/empty-profile-icon.png" width="30" height="30" />
							<span class="u-pull-left header-username">guest</span>
							<button class="u-pull-left ask-advice-btn">ask advice</button>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="container">

			<article>
				<div class="row">
					<div class="twelve columns">
						<div>
							<p class="link" th:text="'Error: ' + ${status} + ' - ' + ${error}"> Error: 404 - Not Found</p>
						</div>
					</div>
				</div>
				<div class="row">
					<p th:text="'Time: ' + ${timestamp}"> </p>
				</div>
				<th:block th:if="${displayWebError}">
					<div class="row" th:if="${exception != null}">
						<h2 th:text="'Exception: ' + ${exception}"> java.lang.NullpointerExcetion </h2>
					</div>
					<div class="row" th:if="${exception != null and message != null}">
						<h2 th:text="'Message: ' + ${message}"> Message Error </h2>
					</div>
					<div class="row" th:if="${exception != null and trace != null}">
						<textarea rows="50" cols="90" th:text="${trace}"> Stacktrace here. </textarea>
					</div>
				</th:block>
			</article>
		</section>
	</form>
</body>

</html>