<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="'Vyllage | ' + ${status} + ' - ' + ${error}">Vyllage | Oops, something went wrong.</title>
  <base href="." th:href="@{/}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/error.css" />
  <link rel="shortcut icon" type="image/png" href="images/logo-orange.png" />

  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
</head>

<body class="error">
  <div id="container">
    <form action="" method="post">
      <header>
        <div class="content">
          <div class="logo">
            <img src="images/logo-orange.png" alt="Vyllage" />
            <span>Vyllage</span>
          </div>
        </div>
      </header>
      <div class="message">
        <h1>Oops. Something went wrong!</h1>
        <p>We're working to fix this. Please head back to the <a href="/">homepage</a> for now.</p>
      </div>
      <div class="content">
        <th:block th:if="${displayWebError}">
          <div class="timestamp" th:text="${timestamp}"> </div>
          <div class="exception">
            <div class="row" th:if="${exception != null}">
              <h2 th:text="'Exception: ' + ${exception}"> java.lang.NullpointerExcetion </h2>
            </div>
            <div class="row" th:if="${exception != null and message != null}">
              <h2 th:text="'Message: ' + ${message}"> Message Error </h2>
            </div>
          </div>
          <div class="row" th:if="${exception != null and trace != null}">
            <textarea class="stack-trace" rows="50" cols="90" th:text="${trace}"></textarea>
          </div>
        </th:block>
      </div>
    </form>
  </div>
  <footer>
    <div class="content">
      <div class="logo">
        <img src="images/logo-orange.png" alt="Vyllage" />
      </div>
      <nav>
        <ul>
          <li><a href="">Help</a>
          </li>
          <li><a href="">Careers</a>
          </li>
          <li><a href="">Terms</a>
          </li>
          <li><a href="">Privacy</a>
          </li>
          <li><a href="">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</body>

</html>