<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:fragment="header (title)">
    <title th:text="${title}">Vyllage | </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta th:if="${_csrf} != null" name="_csrf_token" th:content="${_csrf.token}" id="meta_token" />
    <meta th:if="${_csrf} != null" name="_csrf_header" th:content="${_csrf.headerName}" id="meta_header" />

    <th:block th:replace="fragment-userInfo :: userInfo">
    </th:block>

    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="shortcut icon" type="image/png" href="images/logo-orange.png" />

    <div togglz:active="NEW_RELIC" th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
  </th:block>

</head>

<body>
</body>

</html>