<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/getFeedback.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage | Get Feedback')">
  </th:block>
</head>

<body class='get-feedback'>
  <div id="fb-root"></div>
  <div id='container'>
    <header id="header-container" title="Get Feedback" th:name="${accountName.firstName}"></header>
    <div id="get-feedback"></div>
  </div>
  <div id="footer"></div>
  <script togglz:active="FACEBOOK_SDK" type="text/javascript">
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = decodeURIComponent(
        "%2F%2Fconnect.facebook.net%2Fen_US%2Fsdk.js%23xfbml%3D1%26version%3Dv2.3%26appId%3D363427210528185");
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src='javascript/base.js'></script>
  <script src='javascript/getFeedback.js'></script>
  <script togglz:active="FACEBOOK_SDK" type="text/javascript">
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = decodeURIComponent(
      "%2F%2Fconnect.facebook.net%2Fen_US%2Fsdk.js%23xfbml%3D1%26version%3Dv2.3%26appId%3D363427210528185");
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>