<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/getFeedback.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage | Get Feedback')">
  </th:block>
</head>

<body class='get-feedback'>
  <div id="fb-root"></div>
  <div id='container'>
    <header id="header-container" title="Get Feedback" th:name="${accountName.firstName}"></header>

    <div id="get-feedback"></div>
  </div>
  <div id="footer"></div>
  <script src='javascript/base.js'></script>
  <script src='javascript/getFeedback.js'></script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>