@import './components/common/variables';

.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
* html .clearfix {
  zoom: 1;
}
*:first-child + html .clearfix {
  zoom: 1;
}

* {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
}

.section {
  padding: 3em;
}

#about {
  color: #fff;
  background-color: #47382b;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  &.college {
    padding-bottom: 5em;
    background-image: url(../images/seats.jpg);
  }
}

.content {
  @extend .clearfix;
  position: relative;
  max-width: 1024px;
  margin: auto;
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
  a {
    font-size: .85em;
    font-weight: 100;
    display: inline-block;
    padding: 1em 1.5em;
    transition: color .2s ease;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      color: #e2670d;
    }

    &.sign-up {
      font-weight: 500;
      margin-left: 1.5em;
      transition: all .2s ease;
      color: #e2670d;
      border: #e2670d solid 2px;
      border-radius: 5px;

      &:hover {
        color: #fff;
        background-color: #e2670d;
      }
    }
  }
}

.logo {
  display: inline-block;
  img {
    height: 45px;
  }
  span {
    font-size: 1.75em;
    font-weight: 500;
    position: relative;
    bottom: .35em;
  }
}

#about {
  h1 {
    font-size: 2.75em;
    font-weight: 100;
    margin-top: 3.5em;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  p {
    font-size: 1.35em;
    font-weight: 100;
    line-height: 1.4;
    margin: auto;
    text-align: center;
  }
  .button {
    font-size: 1em;
    font-weight: 500;
    display: block;
    width: 180px;
    margin: auto;
    margin-top: 6em;
    padding: 1.75em;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #e2670d;
  }
}

#caret {
  display: block;
  margin: 7em auto 1em auto;
  text-align: center;
  img {
    width: 30px;
    opacity: .25;
  }
}

#how-it-works {
  h1 {
    font-size: 1.75em;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e2670d;
  }
  h2 {
    font-size: 1.25em;
    text-transform: uppercase;
  }
  p {
    font-size: 1.25em;
    line-height: 1.4;
    color: #333;
  }
  ul {
    @extend .clearfix;
    margin-top: 5em;
    padding: 0;
    list-style-type: none;
    text-align: center;
    p {
      font-size: 1.15em;
      line-height: 1.4;
      margin-top: 1.5em;
      color: #333;
    }
  }
  li {
    display: inline-block;
    float: left;
    width: 27%;
    padding: 0 3%;
    text-align: center;
  }
  .number {
    font-size: 1.25em;
    display: inline-block;
    width: 25px;
    padding: .45em;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #e2670d;
  }
}

p {
  max-width: 720px !important;
}

.feature {
  position: relative;
  overflow: hidden;
  background: #f6f6f6;
  h1 {
    font-size: 1.75em;
    font-weight: 100;
    text-transform: uppercase;
    color: #666;
  }
  p {
    font-size: 1.25em;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #666;
  }
  .spiel {
    padding-bottom: 1em;
    font-size: 1em;
  }
  .quote {
    padding-top: 1.5em;
    border-top: #eee solid 1px;
    img {
      border: #fff solid 2px;
      border-radius: 50%;
      position: relative;
      bottom: 4.5em;
    }
  }
  .testimony {
    display: inline-block;
    width: 70%;
    padding-left: 1em;
    p {
      font-size: 1em;
      font-style: italic;
      color: #999;
    }
  }
  .name {
    color: #666;
  }
  .university {
    text-transform: uppercase;
    color: #e2670d;
  }
  .text, .image {
    display: inline-block;
    width: 50%;
  }
  .text {
    box-sizing: border-box;
    float: left;
    padding-right: 3em;
  }
  .image {
    float: right;
    img {
      width: 125%;
    }
  }
  &:nth-child(even) {
    background-color: #fff;
  }
}

#sign-up {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.4;
  padding: 3em 0;
  text-align: center;
  color: #fff;
  background-color: #47382b;
  a {
    text-decoration: none;
    color: #bf9a7a;
  }
}

#footer {
  background-color: #312921;
  .logo {
    color: #fff;
  }
}

@media (max-width: $medium-landscape) {
  body {
    font-size: 14px;
  }

  #about {
    &.college {
      padding-bottom: 2em;
    }
    h1 {
      margin-top: 2em;
      font-size: 2em;
    }
    .button {
      margin-top: 6em;
    }
  }

  #caret {
    margin-top: 4em;
  }

  .nav {
    text-align: center;
    .logo {
      margin-bottom: 1em;
    }
  }

  .links {
    display: block;
    margin: 0.5em auto;
    position: static;
    text-align: center;
  }

  #footer {
    padding: 1em 2em;
    .logo {
      display: none;
    }
  }

  #how-it-works {
    h1 {
      font-size: 1.75em;
    }
    .number {
      padding: .45em .35em;
    }
    ul {
      margin-top: 2em;
      p {
        max-width: 320px !important;
        margin: 1em auto;
      }
    }
    li {
      margin-top: 1em;
      width: 100%;
      padding: 0;
    }
  }

  #sign-up {
    padding: 2em;
  }

  .feature {
    height: auto;
    padding: 1em 3em 0 3em  !important;
    h1 {
      font-size: 1.25em;
    }
    .image {
      width: 100%;
      img {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        height: auto;
        bottom: -1em;
      }
      .spiel {
        font-size: 1.25em;
      }
    }
    .text {
      width: 100%;
      margin-top: 0 !important;
      padding: 0;
      position: relative;
      top: 1em;
    }
    &:nth-child(even) {
      .text {
        left: auto;
        margin-top: 0;
      }
      .image {
        img {
          left: auto;
        }
      }
    }
  }
}
