<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Learn More about Vyllage" />
  <meta property="og:image" content="https://www.vyllage.com/images/fb-cover.jpg" />
  <meta property="og:site_name" content="Vyllage" />
  <meta property="og:url" content="https://www.vyllage.com" />
  <meta property="og:description" content="Success is a community effort." />

  <th:block th:replace="fragment-header :: header ('Welcome to Vyllage | Make a Difference')"></th:block>
  <link rel="stylesheet" href="css/homepage.css" />
</head>

<body>
  <div class="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="../images/logo-orange.png" alt="Vyllage Logo" />
          <span>Vyllage</span>
        </div>

        <h1>Making your alumni network simply work.</h1>
        <p>Vyllage is a professional advancement platform that automates the process of connecting your students
           and alumni with jobs at companies where alumni are working. Help your alumni hire fellow alumni.</p>

        <div id="header-register">
          <button class="landing" onClick="javascript:window.location='/contact'">Request a Demo</button>
        </div>

        <div class="divider"></div>

        <p>
          <strong>Already have an account?</strong>
        </p>
        <div class="alternate" id="login">
          <button class="landing alternate">Sign In</button>
        </div>
      </div>
    </header>
    <div class="overview">
      <div class="content">
        <section class="first">
          <div class="wrapper">
            <div class="text">
              <h2>How are you leveraging your alumni network?</h2>
              <p>Vyllage puts your alumni at the fingertips of your students to mentor, refer into jobs, or provide career advice.</p>
            </div>
            <div class="image">
              <div class="resume"></div>
            </div>
          </div>
        </section>
        <section class="second">
          <div class="wrapper">
            <div class="text">
              <h2>How are you continually developing your students and alumni?</h2>
              <p>Vyllage turns the antiquated career services model applied with the latest cutting edge research into a new
                medium for retention, growth, and supporting alumni, powered by technology.</p>
            </div>
            <div class="image">
              <div class="planes"></div>
            </div>
          </div>
        </section>
        <section class="third">
          <div class="wrapper">
            <div class="text">
              <h2>How do your goals and your students' goals align?</h2>
              <p>The #1 reason students go back to school is for career advancement. Vyllage provides a centralized platform
                where students can turn to connect with professors, alumni, recruiters, and advisors, in one easily accessible
                place integrating the career services process into the academic experience.</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer>
      <div class="content">
        <p>Still, the best way to learn more about Vyllage is to contact us.</p>
        <div id="footer-register">
          <button class="landing" onClick="javascript:window.location='/contact'">Request a Demo</button>
        </div>
        <a href="/" class="logo">
          <img src="/images/logo-orange.png" alt="Vyllage" />
        </a>
        <nav>
          <ul>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="javascript/base.js"></script>
  <script type="text/javascript" src="javascript/homepage.js"></script>
  <th:block th:replace="fragment-footer :: footer"></th:block>
</body>

</html>
