<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/admin.css" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage | Link Stats')">
  </th:block>
</head>

<body>
  <div id='container'>
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-white.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
        <span class="page-title">Link stats</span>
      </div>
    </header>
    <div class="section content">
      <table>
        <thead>
          <tr>
            <th>
              Type
            </th>
            <th>
              Total Links
            </th>
            <th>
              Total Access
            </th>
            <th>
              Most Accessed Document
            </th>
            <th>
              Links with no access
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Social
            </td>
            <td th:text="${stats.socialStats.total}">
            </td>
            <td th:text="${stats.socialStats.totalAccess}">
            </td>
            <td th:if="${stats.socialStats.mostAccessedDocument != null and !stats.socialStats.mostAccessedDocument.isEmpty()}">
              <a th:href="@{/resume/{documentId}(documentId=${stats.socialStats.mostAccessedDocument})}" th:text="${'Document ' + stats.socialStats.mostAccessedDocument}"> Document </a>
            </td>
            <td th:if="${stats.socialStats.mostAccessedDocument == null or stats.socialStats.mostAccessedDocument.isEmpty()}">
              -
            </td>
            <td th:text="${stats.socialStats.linksWithNoAccess}">
            </td>
          </tr>
          <tr>
            <td>
              Email
            </td>
            <td th:text="${stats.emailStats.total}">
            </td>
            <td th:text="${stats.emailStats.totalAccess}">
            </td>
            <td th:if="${stats.emailStats.mostAccessedDocument != null and !stats.emailStats.mostAccessedDocument.isEmpty() }">
              <a th:href="@{/resume/{documentId}(documentId=${stats.emailStats.mostAccessedDocument})}" th:text="${'Document ' + stats.emailStats.mostAccessedDocument}"> Document </a>
            </td>
            <td th:if="${stats.emailStats.mostAccessedDocument == null or stats.emailStats.mostAccessedDocument.isEmpty()}">
              -
            </td>
            <td th:text="${stats.emailStats.linksWithNoAccess}">
            </td>
          </tr>
          <tr>
            <td>
              Total
            </td>
            <td th:text="${stats.totalStats.total}">
            </td>
            <td th:text="${stats.totalStats.totalAccess}">
            </td>
            <td th:if="${stats.totalStats.mostAccessedDocument != null and !stats.totalStats.mostAccessedDocument.isEmpty()}">
              <a th:href="@{/resume/{documentId}(documentId=${stats.totalStats.mostAccessedDocument})}" th:text="${'Document ' + stats.totalStats.mostAccessedDocument}"> Document </a>
            </td>
            <td th:if="${stats.totalStats.mostAccessedDocument == null or stats.totalStats.mostAccessedDocument.isEmpty()}">
              -
            </td>
            <td th:text="${stats.totalStats.linksWithNoAccess}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id='footer'></div>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>