@import "./components/common/variables";

@import "jeet/scss/jeet/index";
@import "./components/common/utilities";
@import "./components/common/defaults";
@import "./components/common/typography";

.login {
  #container {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section > .container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0.75em 1em;
    padding: 2em 0;
    position: relative;
  }
  .sections {
    margin: 0;
    @include center();
    .section {
      @include column(1/2);
      box-sizing: border-box;
    }
    .spiel {
      @extend .inverted;
      padding: 0 1em;
      .quote {
        font-size: 2.5em;
        font-weight: 100;
        line-height: 1.4;
      }
      .author {
        font-size: 1.25em;
        font-weight: 300;
        margin-top: 1em;
        opacity: 0.85;
      }
    }
    .form {
      margin-top: -2.5em;
      padding: 0 1em 0 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .container {
        margin-top: -1.5em;
        padding: 0;

        &.reset {
          margin-top: 1.5em;
        }
      }
      h1 {
        font-size: 2em;
      }
      .forgot {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 400;
      }
      .content {
        border-bottom: lighten($secondary-color, 30%) solid 1px;
        padding: 2em 3em;
        &.account{
          border-bottom: none;
          padding: 1.5em;
          text-align: center;
        }
      }
      input {
        margin-bottom: 0.5em;
      }
      .actions {
        margin-top: 1.5em;
        text-align: right;
      }
    }
  }
  header {
    background: none;
    padding: 2em 1em;
  }
  .logo {
    font-size: 1.5em;
  }
  footer {
    background: none;
    height: 3.1em;
    a {
      color: rgba($inverted-text-color, 0.35);
      &:hover {
        color: $inverted-text-color;
      }
    }
  }
}