<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Vyllage | Log In</title>
  <base href="." th:href="@{/}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/login.css" />
  <link rel="shortcut icon" type="image/png" href="images/logo-orange.png" />

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,100' rel='stylesheet' type='text/css' />
  <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body class="login">
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </div>
    </header>
    <div class="sections">
      <section class="spiel section">
        <div class="quote">He who would do great things should not attempt them alone.</div>
        <div class="author"> — Seneca &bull; AD 55</div>
      </section>
      <section class="form section">
        <div class="container">
          <form th:action="@{/login}" method="post">
            <div class="content">
              <h1 class="centered">Log In</h1>
              <div th:if="not ${param.error}">
                <p class="centered">Welcome to Vyllage</p>
              </div>
              <div th:if="${param.error}">
                <p class="centered error">E-mail or Password invalid.</p>
              </div>
              <label>E-mail</label>
              <input type="text" class="padded" name="email" />
              <label>Password</label>
              <input type="password" class="padded" name="password" />
              <a href="/account/reset-password" class="forgot">Forgot Password?</a>
              <div class="actions">
                <button class="padded">Submit</button>
              </div>
            </div>
            <div class="content account">
              Don't have an account?
              <a href="mailto:hello@vyllage.com?subject=Demo Request" className="flat button">Request a demo</a>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- .sections -->
  </div>
  <!-- #container -->
  <footer>
    <div class="content">
      <nav>
        <ul>
          <li><a href="">Help</a>
          </li>
          <li><a href="">Careers</a>
          </li>
          <li><a href="">Terms</a>
          </li>
          <li><a href="">Privacy</a>
          </li>
          <li><a href="">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-62026590-1', 'auto');
  ga('send', 'pageview');
  </script>
  <div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>