<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Vyllage | Login" />
  <meta property="og:image" content="https://www.vyllage.com/images/fb-cover.jpg" />
  <meta property="og:site_name" content="Vyllage" />
  <meta property="og:url" content="https://www.vyllage.com" />
  <meta property="og:description" content="Welcome to Vyllage! Login to update your resume." />

  <link rel="stylesheet" href="css/account-setup.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage | Log In')">
  </th:block>
</head>

<body class="account-setup">
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </div>
    </header>
    <div class="sections">
      <section class="spiel section">
        <div class="quote">He who would do great things should not attempt them alone.</div>
        <div class="author"> — Seneca &bull; AD 55</div>
      </section>
      <section class="form section">
        <div class="container">
          <form th:action="@{/lti/login-existing-user}" th:method="post" th:object="${form}">
            <div class="content">
              <h1 class="centered">Log In</h1>
              <div th:if="not ${form.error}">
                <p class="centered note">This appears to be your first time logging on through this LMS but your email address matches an existing
                  account. For security please log into your Vyllage account to link with this LMS account</p>
              </div>
              <div th:if="${form.error}">
                <p class="centered error">E-mail or Password invalid.</p>
              </div>
              <label>E-mail</label>
              <input type="text" class="padded" name="email" />
              <label>Password</label>
              <input type="password" class="padded" name="password" />
              <a href="/account/reset-password" class="forgot">Forgot Password?</a>
              <div class="actions">
                <button class="padded">Submit</button>
              </div>
            </div>
            <div class="content account">
              Don't have an account?
              <a href="mailto:hello@vyllage.com?subject=Demo Request" className="flat button">Request a demo</a>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- .sections -->
  </div>
  <!-- #container -->
  <footer>
    <div class="content">
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>