@import './components/common/variables';
@import './components/common/mixins';

body {

	article {

		.editable, .buttons-container {
			display: none;
		}

		.article-content:hover {

			.main {
				background: url(../../images/edit.png) no-repeat top right;

				> p, > ul , > div.paragraph {
					@include editParagraph();
				}
			}
		}

		.comments-content {
			display: none;
		}
	}

	article.info-sections {

  		.info-blog.edit {
  			display: none;
  		}
	}
}

@import '_header/header';
@import '_profile/profile';
@import '_common/common';
@import '_common/edit';
@import '_contact/shareInfo';
@import '_comments/comments';


