<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" moznomarginboxes="" mozdisallowselectionprint="">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="/css/error.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage | Confirm your email')">
  </th:block>
</head>

<body class="error">
  <div id="container">
    <div class="content">
      <form action="" method="post">
        <header>
          <div class="content">
            <div class="logo">
              <img src="images/logo-orange.png" alt="Vyllage" />
              <span>Vyllage</span>
            </div>
          </div>
        </header>
        <div class="message">
          <h1> Wait! The most important thing on your resume is your contact information. </h1>
          <p> You recently registered with us or linked a social account with us, you must confirm your email address and
            <a href="/resume#edit-banner=phoneNumber">add your phone number</a> before you can start getting feedback.
          </p>
          <br />
          <div class="actions">
            <a href="/resume" class="padded button">Go back to your resumé.</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id='footer'></div>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>