<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" th:content="${header.firstName + ' ' + header.lastName}" />
  <meta name="keywords" content="Keyword1, Keyword2, This is one phrase, This is another" />
  <meta name="subject" th:content="Resume" />
  <meta name="title" th:content="${header.firstName + ' resume'}" />
  <style th:replace="pdf-resume-css :: css" />
</head>

<body>
  <h1 th:text="${header.firstName + ' ' + header.middleName + ' ' + header.lastName}">Names!</h1>
  <h2 th:text="${header.tagline}">This is my tagline</h2>
  <label th:text="${header.address}">Casa 123</label>
  <br/>
  <label th:text="${header.email}"> abcd@abcd.com</label>
  <br/>
  <label th:text="${header.phoneNumber}">123456</label>
  <br/>
  <hr />
  <!-- loop over the sections -->
  <th:block th:each="section : ${sections}">
    <th:block th:switch="${section.type.name()}">
      <th:block th:case="'FREEFORM'">
        <h3 th:text="${#strings.capitalizeWords(section.title)}">
        </h3>
        <p th:utext="${section.description}"></p>
      </th:block>
      <th:block th:case="'ORGANIZATION'">
        <h3 th:text="${#strings.capitalizeWords(section.title)}">
        </h3>
        <h4 th:text="${section.organizationName}">
        </h4>
        <p th:text="${section.organizationDescription}"></p>
        <p class="role" th:text="${section.role}"></p>
        <p th:if="${section.startDate != null }" th:text="${#temporals.format(section.startDate, 'MMM yyyy') + ' - ' +  (section.endDate != null ? #temporals.format(section.endDate, 'MMM yyyy') : 'Present') }">StartDate - EndDate</p>
        <p class="location" th:text="${section.location}"></p>
        <p th:utext="${section.roleDescription}"></p>
      </th:block>
    </th:block>
  </th:block>
</body>

</html>