<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Vyllage | Register" />
  <meta property="og:image" content="https://www.vyllage.com/images/fb-cover.jpg" />
  <meta property="og:site_name" content="Vyllage" />
  <meta property="og:url" content="https://www.vyllage.com" />
  <meta property="og:description" content="Welcome to Vyllage! Register and login to create your resume." />

  <link rel="stylesheet" href="css/account-setup.css" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage | Register')">
  </th:block>
</head>

<body class="account-setup">
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </div>
    </header>
    <div class="sections">
      <section class="spiel section">
        <div class="quote">He who would do great things should not attempt them alone.</div>
        <div class="author"> — Seneca &bull; AD 55</div>
      </section>
      <section class="form section">
        <div class="container">
          <form th:action="@{/register}" th:object="${registerForm}" th:method="POST">
            <div class="content">

              <h1 class="centered">Register</h1>
              <p class="centered">Fill out the fields below to proceed. </p>

              <div th:if="${registerForm.errorMsg != null}">
                <p class="centered error" th:text="*{errorMsg}">E-mail or Password invalid.</p>
              </div>

              <label>First Name</label>
              <input type="text" th:field="*{firstName}" class="padded" />

              <label>Last Name</label>
              <input type="text" th:field="*{lastName}" class="padded" />

              <label>E-mail</label>
              <input type="text" th:field="*{email}" class="padded" />

              <label>Password</label>
              <input type="password" th:field="*{password}" class="padded" />

              <div class="checkbox">
                <input type="checkbox" th:field="*{receiveAdvice}" />
                <p>Receive free professional career advice from Vyllage's partner schools.</p>
              </div>

              <div class="actions">
                <button type="submit" class="padded">REGISTER</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- .sections -->
  </div>
  <!-- #container -->
  <footer>
    <div class="content">
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>