@import './components/common/variables';
@import './components/common/mixins';


body {
	background: url('../images/background.jpg');
	font-family: 'pt-sans', sans-serif;

	p {
		padding: 0px;
		margin: 0px;
	}
}

section#container {
	margin-top: 36px;
	width: 750px;
}

article {
	@include article-grid();
}

.topper {
	@include topper();
	padding-left: 50px;
}

.content-part {
	margin-bottom: 10px;
}

.rqst-key-word {
	@include  rqstKeyWord();
	margin-left: 37px; 
	margin-top: 45px;
}

.rcpent-add {
  position: relative;
  margin-top: 40px; 
}

.rcpent-list {
	// display: inline-block;
  width: 600px;
	float: left;
	.rcpent {
		@include recipient();
        p {
          padding: 10px;
          display: inline-block;
        }
        a {
            color: #000;
            padding: 10px;
        }
	}
}

.rcpent-dropdown {

}
.rcpent-dropdown-header {
   color: #ccc;
}

.error {
    color: red;
} 

.fb-button {
	@include fbButton();
	float:left;
	margin-top: 30px;

	.small-text {
		font-size: 15px;
		line-height: 15px;
	}

	.big-text {
		font-size: 20px;
		line-height: 26px;
	}
}

.subject {
	width: 610px;
	height: 99px;
	margin-top: 16px;
	border-top: 1px solid $cancel-btn-bkg-color;
	float:left;

	.subject-text {
		margin-bottom: 0px;
		margin-top: 29px;
		padding-left: 60px;
		font-size: 20px;
	}
}

.message {
	float:left;
	padding: 47px 60px 0px 55px;
	border-top: 1px solid $cancel-btn-bkg-color;

	.messageContent {
		margin-bottom: 20px;

		.message-text {
			font-size: 18px;
			line-height: 28px;
		}
	}

	.send-btn {
		@include saveBtn();
	}

	.send-btn:hover {
		border-color: rgb(47, 52, 92);
		background-color: rgb(66, 81, 130);
	}
	
	.cancel-btn {
		@include cancelBtn();
	}

	.cancel-btn:hover {
		border-color: #030303;
		background-color: #C0BFBF;
	}
}

// suggested users list style
ul.suggested-users-list {
    display: block;
	width: 300px;
	background-color: $white;
	box-shadow: 0px 0px 5px 3px  rgba(126, 121, 113, 1);

	li.topper {
		background-color: #E5E4E2;
		font-size: 16px;
		line-height: 40px;

		p.topper-text {
			text-align: center;
		}
	}

	li {
		height: 35px;
		padding: 5px;
		margin: 0px;
		font-size: 16px;
		line-height: 34px;
		list-style-type: none;
		border-bottom: 1px solid $cancel-btn-bkg-color;

		p.item-text {
			float: left;
			padding-left: 15px
		}

		img.prof-pic {
			width:35px;
			height: 35px;
			float: left;
		}

		img.social {
			width: 30px;
			height: 30px;
			float: right;
		}
	}
}	

@import './components/header/header';
