<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/account-setup.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage | Reset Password')">
  </th:block>
</head>

<body class="account-setup">
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </div>
    </header>
    <div class="sections">
      <section class="spiel section">
        <div class="quote">He who would do great things should not attempt them alone.</div>
        <div class="author"> — Seneca &bull; AD 55</div>
      </section>
      <section class="form section">
        <div class="container">
          <form action="#" th:action="@{/account/reset-password-change}" th:object="${changePasswordForm}" method="post">
            <div class="content">
              <h1 class="centered">Reset Password</h1>
              <div th:if="not ${changePasswordForm.hasErrors()}">
                <p class="centered">Please input your new password.</p>
              </div>
              <div th:if="${changePasswordForm.hasErrors()}">
                <p class="centered error">Invalid password.</p>
              </div>

              <label>New Password</label>
              <input class="padded" type="password" th:field="*{newPassword}" />

              <label>Confirm New Password</label>
              <input class="padded" type="password" th:field="*{confirmPassword}" />

              <div class="actions">
                <button class="padded" th:type="submit" th:text="Change"></button>
              </div>
            </div>
            <div class="content account">
              Recalled the old one?
              <a href="/login" className="flat button">Login</a> instead.
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- .sections -->
  </div>
  <!-- #container -->
  <footer>
    <div class="content">
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src='javascript/base.js'></script>
  <script togglz:active="GOOGLE_ANALYTICS">
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-62026590-1', {
    'userId': document.getElementById('meta_userInfo_user') === null ? null : document.getElementById(
      'meta_userInfo_user').getAttribute('content')
  });
  ga('send', 'pageview');
  </script>
  <div togglz:active="NEW_RELIC" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>