<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/account-setup.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage | Reset Password')">
  </th:block>
</head>

<body class="account-setup">
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </div>
    </header>
    <div class="sections">
      <section class="spiel section">
        <div class="quote">He who would do great things should not attempt them alone.</div>
        <div class="author"> — Seneca &bull; AD 55</div>
      </section>
      <section class="form section">
        <div class="reset container">
          <form action="#" th:action="@{/account/reset-password}" th:object="${resetPasswordForm}" method="post">
            <div class="content">
              <h1 class="centered">Reset Password</h1>
              <div th:if="not ${resetPasswordForm.hasErrors()}">
                <p class="centered">Please input your e-mail address.</p>
              </div>
              <div th:if="${resetPasswordForm.hasErrors()}">
                <p class="centered error">Invalid e-mail.</p>
              </div>
              <label>E-mail</label>
              <input class="padded" type="text" th:field="*{email}" />
              <div class="actions">
                <button class="padded" th:type="submit" th:text="Reset"></button>
              </div>
            </div>
            <div class="content account">
              Don't have an account?
              <a href="mailto:hello@vyllage.com?subject=Demo Request" className="flat button">Request a demo</a>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- .sections -->
  </div>
  <!-- #container -->
  <footer>
    <div class="content">
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>