<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>advice request</title>
  <base href="." th:href="@{/}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="css/base.css" />
  <!--   <link rel="stylesheet" href="css/requestAdvice.css" /> -->

  <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />

  <meta name="_csrf_token" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
  <form action="#" th:action="@{/account/reset-password}" th:object="${resetPasswordForm}" method="POST">
    <label>Reset password :</label>
    <div th:if="${resetPasswordForm.hasErrors()}" style="background: white">
      Invalid password.
    </div>
    <input type="text" th:field="*{email}"></input>
    <button th:type="submit" th:text="Reset"></button>
  </form>
  <script src='javascript/base.js'></script>
  <!--   <script src='javascript/requestAdvice.js'></script> -->
</body>

</html>