<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="/css/error.css" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  <th:block th:replace="fragment-header :: header ('Vyllage | Reset Password')">
  </th:block>
</head>

<body class="error">
  <div id="container">
    <form action="" method="post">
      <header>
        <div class="content">
          <div class="logo">
            <img src="images/logo-orange.png" alt="Vyllage" />
            <span>Vyllage</span>
          </div>
        </div>
      </header>
      <div class="message">
        <h1>Check your e-mail.</h1>
        <p>We sent you a link to reset your password.</p>
      </div>
    </form>
  </div>
  <footer>
    <div class="content">
      <a href="/" class="logo">
        <img src="/images/logo-orange.png" alt="Vyllage" />
      </a>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
    <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>