<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>advice request</title>
  <base href="." th:href="@{/}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="css/base.css" />
  <!--   <link rel="stylesheet" href="css/requestAdvice.css" /> -->

  <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />

  <meta name="_csrf_token" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
  <form action="#" th:action="@{/account/reset-password-change}" th:object="${changePasswordForm}" method="POST">
    <label th:text="'Write new Password:'"></label>
    <!--//TODO: move text to msg bundle -->
    <div th:if="${changePasswordForm.hasErrors()}" style="background: white">
      Invalid password.
    </div>
    <input type="text" th:field="*{newPassword}" placeholder="password"></input>

    <label th:text="'Confirm new Password:'"></label>
    <input type="text" th:field="*{confirmPassword}" placeholder="password"></input>
    <button th:type="submit" th:text="Change"></button>
  </form>
  <script src='javascript/base.js'></script>
</body>

</html>