<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" moznomarginboxes="" mozdisallowselectionprint="">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/resume.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
  <meta name="document_creation_date" th:content="${documentCreationDate}" id="meta_document_creation_date" />
  <th:block th:replace="fragment-header :: header ('Vyllage | Resume')">
  </th:block>
</head>

<body>
  <div id='container'>
    <header id="header-container" title="Resume" th:name="${accountName.firstName}"></header>
    <div id="resume"></div>
  </div>
  <div id='footer'></div>
  <script togglz:active="FACEBOOK_SDK" type="text/javascript">
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = decodeURIComponent(
        "%2F%2Fconnect.facebook.net%2Fen_US%2Fsdk.js%23xfbml%3D1%26version%3Dv2.3%26appId%3D363427210528185");
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script type="text/javascript" src="javascript/base.js"></script>
  <script type="text/javascript" src="javascript/resume.js"></script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>