<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" moznomarginboxes="" mozdisallowselectionprint="">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/resume.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
  <meta name="document_creation_date" th:content="${documentCreationDate}" id="meta_document_creation_date" />
  <th:block th:replace="fragment-header :: header ('Vyllage | Resume')">
  </th:block>
</head>

<body>
  <div id='container'>
    <header id="header-container" title="Resume" th:name="${accountName.firstName}"></header>
    <div id="resume"></div>
  </div>
  <div id='footer'></div>
  <script type="text/javascript" src="javascript/base.js"></script>
  <script type="text/javascript" src="javascript/resume.js"></script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>