@import './components/common/variables';
@import './components/common/mixins';

.settings {
  background: white;
  border: 1px solid $border-color;
  margin-top: 32px;

  a {
    color: $link-color;
    text-decoration: none;
  }
}



.settings-left {
  border-right: 1px solid $border-color;
}

.settings-right {
  // margin: 0;
}

.topper {
  @include topper();
}
.topper-right {
  margin-left: -7%;
}

.settings-title {
  text-align: center;
  margin: 20px auto;
  h5 {
    margin-bottom: 0;
    display: inline-block;
  }
  h6 {
    color: $subheader-color;
  }
}

.settings-profile {
  list-style: none;
  // font-size: 18px;
  li:nth-child(even) { 
    background: $top-bkg-color;
  }
}
.settings-profile-item {
  padding: 5px;
}
.settings-account {
  list-style: none;
}

.settings-account-item {
  padding: 10px 20px 10px 10px;
}



@import './components/header/header';
