<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/settings.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage | Settings')">
  </th:block>
</head>

<body>

  <div id='container' class="settings">
    <header id="header-container" title="Settings" th:name="${accountName.firstName}">
    </header>
    <form id="deleteForm" th:method="post" action="#" th:action="@{/account/delete}">
      <!--     This form was intentionally left blank. -->
    </form>
    <div id='settings'></div>
  </div>
  <div id='footer'></div>
  <script src='javascript/base.js'></script>
  <script src='javascript/settings.js'></script>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>