<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="View Online Resume" />
  <meta property="og:image" content="https://www.vyllage.com/images/fb-cover.jpg" />
  <meta property="og:site_name" content="Vyllage" />
  <meta property="og:url" content="https://www.vyllage.com" />
  <meta property="og:description" content="Give your friends some career and resume feedback!" />

  <link rel="stylesheet" href="css/account-setup.css" />
  <th:block th:replace="fragment-header :: header ('Vyllage | Guest Log In')">
  </th:block>
</head>

<body class="account-setup">
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </div>
    </header>
    <div class="sections">
      <section class="spiel section">
        <div class="quote">He who would do great things should not attempt them alone.</div>
        <div class="author"> — Seneca &bull; AD 55</div>
      </section>
      <section class="form section">
        <div class="container">
          <!-- FACEBOOK SIGNIN -->
          <form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
            <div class="content">
              <h1 class="centered">Guest Log In</h1>
              <p class="centered">Give feedback on your friends resumé.</p>
              <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
              <input type="hidden" name="scope" value="email"></input>
              <!-- 				<input type="hidden" name="scope" value="publish_stream,user_photos,offline_access"></input> -->
            </div>
            <div class="content account">
              <button class="padded facebook" type="submit">
                <i class="ion-social-facebook"></i> Sign Up via Facebook
              </button>
            </div>
          </form>
          <!-- GOOGLE SIGNIN -->
          <form togglz:active="GOOGLE_PLUS" name="gg_signin" id="gg_signin" th:action="@{/signin/google}" method="POST">
            <div class="content">
              <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
              <input type="hidden" name="scope" value="email profile"></input>
            </div>
            <div class="content account">
              <button class="padded google" type="submit">
                <i class="ion-social-google"></i> Sign Up via Google
              </button>
            </div>
          </form>

          <!-- 			<form id="tw_signin" th:action="@{/signin/twitter}" method="POST"> -->
          <!-- 				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input> -->
          <!-- 				<button type="submit"></button> -->
          <!-- 			</form> -->
          <!-- 			<form name="li_signin" id="li_signin" th:action="@{/signin/linkedin}" method="POST"> -->
          <!-- 				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input> -->
          <!-- 				<button type="submit">Sign In with LinkedIn</button> -->
          <!-- 			</form> -->
        </div>
      </section>
    </div>
    <!-- .sections -->
  </div>
  <!-- #container -->
  <footer>
    <div class="content">
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>