<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Vyllage | Make a difference</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/homepage.css">
  <link rel="shortcut icon" type="image/png" href="images/logo-orange.png" />
  <meta th:if="${userInfo} != null" name="email" th:content="${userInfo.email}" id="meta_userInfo_email" />
  <meta th:if="${userInfo} != null" name="userId" th:content="${userInfo.userId}" id="meta_userInfo_user" />
  <meta th:if="${userInfo} != null" name="registeredOn" th:content="${userInfo.registeredOn}" id="meta_userInfo_created_at" />
  <div togglz:active="NEW_RELIC" th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body>
  <div id="about" class="section">
    <div class="content">
      <div class="nav">
        <div class="logo">
          <img src="../images/logo-orange.png" alt="Vyllage Logo">
          <span>Vyllage</span>
        </div>
        <ul class="links">
          <li><a href="#how-it-works">How it works</a></li>
          <li><a href="/">Colleges</a></li>
          <li><a href="/students">Students</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="mailto:hello@vyllage.com?subject=Demo Request" class="sign-up">Request a demo</a></li>
        </ul>
      </div>
      <h1>Success is a
        <br /> community effort</h1>
      <p>A new delightfully efficient way to build, update, and collaborate
        <br /> privately on your resume and career direction with your friends.</p>
      <a href="mailto:hello@vyllage.com?subject=Demo Request" class="button">Request a demo</a>

      <a href="#how-it-works" id="caret">
        <img src="../images/caret.png" alt="Learn More">
      </a>
    </div>
  </div>

  <div id="how-it-works" class="feature section">
    <div class="content">
      <h1>How does it work?</h1>
      <p>Build and maintain an updated resume seamlessly and with better results, by allowing your peers to join in the process.</p>
      <ul>
        <li>
          <div class="number">1</div>
          <h2>Build</h2>
          <p>
            Prepare your resume using our stunning interface, so you can focus on what matters most - content.
          </p>
        </li>
        <li>
          <div class="number">2</div>
          <h2>Share</h2>
          <p>
            Invite friends, colleagues, and mentors to review your resume then comment and suggest edits.
          </p>
        </li>
        <li>
          <div class="number">3</div>
          <h2>Collaborate</h2>
          <p>
            Receive feedback on your resume, and watch it evolve as you control what advice to apply or reject.
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div id="build" class="feature section">
    <div class="content">
      <div class="text">
        <h1>Introducing our beautiful resume builder.</h1>
        <p class="spiel">
          You’ve never written on something like this before. Our content-focused editor allows you to produce the best resume first,
          then select the right template to match your content.
        </p>
      </div>
      <div class="image">
        <img src="../images/screenshot-1.png" alt="Build">
      </div>
    </div>
  </div>

  <div id="share" class="feature section">
    <div class="content">
      <div class="text">
        <h1>Ask advice from friends and colleagues.</h1>
        <p class="spiel">
          Put your best foot forward by allowing those around you to assist in your career progress. Building your resume doesn’t have
          to be painful or boring. We believe in the value of feedback, so we are making it easier to hear thoughts from
          your peers.
        </p>
      </div>
      <div class="image">
        <img src="../images/screenshot-2.png" alt="Build">
      </div>
    </div>
  </div>

  <div id="collaborate" class="feature section">
    <div class="content">
      <div class="text">
        <h1>Collaborate towards a better career.</h1>
        <p class="spiel">
          Invite peers easily, who can with one click securely offer you advice, no account or signup required. Upon reviewing your
          resume, your friends can submit edits or comments for your approval.
        </p>
        <p class="spiel">
          Make each step in your career path impactful with the support of those around you.
        </p>
      </div>
      <div class="image">
        <img src="../images/screenshot-3.png" alt="Build">
      </div>
    </div>
  </div>

  <div id="sign-up">
    <div class="content">
      Vyllage is only available through your college.
      <a href="mailto:hello@vyllage.com?subject=Demo Request" class="sign-up">E-mail us</a> for more info.
    </div>
  </div>

  <div id="footer" class="section">
    <div class="content">
      <div class="nav">
        <div class="logo">
          <img src="../images/logo-white.png" alt="Vyllage Logo">
          <span>Vyllage</span>
        </div>
        <ul class="links">
          <li><a href="#how-it-works">How it works</a></li>
          <li><a href="/">Colleges</a></li>
          <li><a href="/students">Students</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="mailto:hello@vyllage.com?subject=Demo Request" class="sign-up">Request a demo</a></li>
        </ul>
      </div>
    </div>
  </div>
  <script togglz:active="ZOPIM_MESSAGE_CLIENT" type="text/javascript">
  window.$zopim || (function(d, s) {
    var z = $zopim = function(c) {
        z._.push(c)
      },
      $ = z.s =
      d.createElement(s),
      e = d.getElementsByTagName(s)[0];
    z.set = function(o) {
      z.set.
      _.push(o)
    };
    z._ = [];
    z.set._ = [];
    $.async = !0;
    $.setAttribute("charset", "utf-8");
    $.src = "//v2.zopim.com/?2yTp08ZLPRPIeR1PSlNmH7ZXuZ7Hitop";
    z.t = +new Date;
    $.
    type = "text/javascript";
    e.parentNode.insertBefore($, e)
  })(document, "script");
  </script>
  <!--End of Zopim Live Chat Script-->
  <script th:if="${userInfo} != null" togglz:active="GOOGLE_ANALYTICS">
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-62026590-1', {
    'userId': document.getElementById('meta_userInfo_user').getAttribute('content')
  });
  ga('send', 'pageview');
  </script>
  <div togglz:active="NEW_RELIC" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>