<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="." th:href="@{/}" />
  <link rel="stylesheet" href="css/login.css" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css' />

  <style>
  .login #container {
    background-image: url(images/banner-2.jpg);
  }
  </style>
  <th:block th:replace="fragment-header :: header ('Vyllage | Account Deleted')">
  </th:block>
</head>

<body class="login info">
  <div id="container">
    <header>
      <div class="content">
        <div class="logo">
          <img src="images/logo-orange.png" alt="Vyllage" />
          <span>Vyllage</span>
        </div>
      </div>
    </header>
    <div class="sections">
      <section class="spiel section">
        <div class="quote">We're sorry to see you go. If you have any concern, feel free to e-mail us at <a href="mailto:hello@vyllage.com">hello@vyllage.com</a>
        </div>
        <div class="author">You can also go back to the <a href="/">homepage</a>.</div>
      </section>
    </div>
    <!-- .sections -->
  </div>
  <!-- #container -->
  <footer>
    <div class="content">
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <th:block th:replace="fragment-footer :: footer">
  </th:block>
</body>

</html>