$primary-color: #e2670d;
$secondary-color: #888;
$text-color: #555;
$inverted-text-color: #fff;

$header-color: #863e09;
$page-title-color: #f9d0b3;
$footer-background: #47382B;
$mode-color: #A0612D;

$body-background: #f3f3f3;

$banner-background: #574535;
$tagline-color: #f93;

$section-background: #fff;
$section-footer-background: #fcfcfc;
$section-footer-color: #aaa;

$modal-overlay-background: rgba(60,60,60,0.98);

$facebook-color: #3a5795;
$highlight: #ffd;

$error-background: #fee;
$error-color: #c30;

$warning-background: #ffd;
$warning-color: #edb02c;

$success-background: #D9FFD3;
$success-color: rgb(65, 144, 48);