$primary-color: #FF6600;
$secondary-color: #888;
$text-color: #555;
$inverted-text-color: #fff;

$neutral-color-1: #393939;

$body-background: #f3f3f3;

$banner-background: #374047;
$tagline-color: #D8F0F4;

$header-color: $inverted-text-color;
$page-title-color: #999999;
$footer-background: $banner-background;
$mode-color: lighten($banner-background, 5%);

$section-background: #fff;
$section-footer-background: #fcfcfc;
$section-footer-color: #aaa;

$modal-overlay-background: rgba(60,60,60,0.98);

$facebook-color: #3a5795;
$highlight: #ffd;

$error-background: #fee;
$error-color: #c30;

$warning-background: #ffd;
$warning-color: #edb02c;

$success-background: #D9FFD3;
$success-color: rgb(65, 144, 48);