@import url(//fonts.googleapis.com/css?family=Raleway:400&text=Vyllage);

::selection {
  background: rgba($primary-color, 0.35);
}
::-moz-selection {
  background: rgba($primary-color, 0.35);
}

* {
  color: $text-color;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

  //Typography Enhances
  font-kerning: initial;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background: $body-background;
  font-size: 18px;
  height: 100%;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2.85em;
  padding-top: 2.5em;
  box-sizing: border-box;

  &:after {
    content: '';
    display: block;
    height: 2.85em;
  }
}

a {
  color: $primary-color;
  outline: none;
  transition: all .2s ease;
  &:hover, &:focus {
    color: lighten($primary-color, 3%);
  }
}

textarea {
  line-height: 1.4;
  outline: none;
  box-sizing: border-box;
  resize: none;
}

.content {
  @include center();
  box-sizing: border-box;
  padding: 0 1em;
}

.logo {
  display: inline-block;
  padding: 0.6em 0;

  img {
    height: 1.75em;
  }
  span {
    font-family: 'Raleway';
    font-size: 1.25em;
    font-weight: 600;
    position: relative;
    bottom: 0.25em;
  }
}

ul {
  padding: 0;
}

@media (max-width: $medium-portrait) {
  body {
    font-size: 16px;
  }
  #container {
    margin-bottom: -44px;
    &:after {
      height: 44px;
    }
  }
}

@media (max-width: $small-landscape) {
  body {
    font-size: 14px;
  }
}