::-webkit-input-placeholder {
 color: lighten($banner-background, 50%);
 -webkit-text-fill-color: lighten($banner-background, 50%);
}

:-moz-placeholder { /* Firefox 18- */
 color: lighten($banner-background, 50%);
}

::-moz-placeholder {  /* Firefox 19+ */
 color: lighten($banner-background, 50%);
}

:-ms-input-placeholder {
 color: lighten($banner-background, 50%);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  @extend .full-width;
  background: $inverted-text-color;
  border: lighten($secondary-color, 30%) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  padding: 0.3em 0.6em;
  transition: border .2s ease;

  &:hover,&:focus {
    border-color: lighten($secondary-color, 20%);
  }

  &:focus {
    border-color: lighten($primary-color, 10%);
  }

  &[disabled] {
    background: lighten($secondary-color, 43%);
    border-color: transparent;
    cursor: default;
  }

  &.flat {
    border: none;
    border-radius: 3px;
    font-weight: 400;
    line-height: 1.45;
    padding: 0 0.25em;
    transition: none;

    &:focus {
      background: lighten($banner-background, 70%);
      transition: background .2s ease;
    }

    &[disabled] {
      background: none;
      -webkit-text-fill-color: lighten($text-color, 10%);
    }

    &.error {
      background-color: $error-background;
      color: inherit;
    }

    &.link {
      font-size: 0.75em;
      color: darken($alternate-color-1, 25%);
      margin-bottom: 0.5em;
    }
  }

  &.transparent {
    border: none;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(255,255,255,0.1),
    inset 0 1px 1px rgba(0,0,0,0.1);

    &[disabled] {
      background: none;
      box-shadow: none;
    }
  }

  &.inline {
    display: inline-block;
    width: auto;
  }

  &.full-width {
    display: block;
    width: 100%;
  }

  &.padded {
    border-width: 2px;
    padding: 0.75em 1em;
  }
}

label {
  color: $secondary-color;
  display: block;
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 0.25em;
  margin-top: 2em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/small-caret.png);
  background-position: 98.5%;
  background-repeat: no-repeat;
  background-size: 0.6em;

  &.padded {
    background-position: 96%;
  }
}

$table-border-radius: 5px;
table {
  background: $inverted-text-color;
  // border: $footer-background solid 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  width: 100%;
  margin: 1em;
  text-align: center;

  th {
    text-transform: uppercase;
    font-size: 0.85em;
    background: $footer-background;
    color: $inverted-text-color;
    padding: 0.5em;
  }

  tr {
    &:nth-child(even) {
      background: darken($inverted-text-color, 2%);
    }
  }

  td {
    padding: 0.5em;
    border-right: darken($inverted-text-color, 8%) solid 1px;

    &:last-child {
      border: none;
    }
  }
}

.tags {
  @include cf();
  .tag {
    border-radius: 5px;
    background-color: lighten($secondary-color, 42%);
    border: lighten($secondary-color, 39%) solid 1px;
    color: $secondary-color;
    display: inline-block;
    float: left;
    font-size: 0.95em;
    margin: 0.165em 0.15em;
    padding: 0.25em 0.75em;
    word-break: break-word;

    &.ui-sortable-helper {
      height: auto !important;
      transform: scale(1.1);
      width: auto !important;
    }

    button {
      padding: 0 !important;
      margin: 0 0 0 0.6em;
    }

    &.diff {
      background: transparent;
    }
  }

  input.flat {
    font-size: 0.95em;
    padding: 0.25em 0.5em;
    margin: 0.15em;

    &:focus {
      background: none;
    }
  }

  .ui-sortable-placeholder {
    @extend .tag;
    background: rgba(0,0,0,0.02);
    border-color: transparent;
    height: 1.25em;
  }
}

.highlights {
  list-style-type: none;
  padding: 0 1em;

  &.editMode {
    border-radius: 3px;
    padding: 0.3em 1.5em;
  }

  &.focused {
    background : #f0f2f3;
  }

  .highlight {
    @include cf();
    margin: 0.25em 0;
    position: relative;

    &:before {
      content: '●';
      display: inline-block;
      position: absolute;
      left: -1.15em;
      font-size: 0.75em;
      top: 0.3em;
    }
    textarea {
      background: transparent;
      width: 93%;
      float: left;
    }
    span.flat{
      padding-left: 0.2em;
      color: #6e6e6e;
      font-size: .9em;
    }
    input.highlightInput {
      background: transparent;
      border: none;
      font-size: .9em;
      color: #6e6e6e;
      width: 100%;
      padding: 0 0.25em;

      &:focus{
        outline: 0;
      }
    }
    button {
      bottom: 0.3em;
      float: right;
      margin: 0;
      position: relative;
      width: 3%;
    }
  }
}

.ui-autocomplete {
  border-color: rgba(0,0,0,0.05);
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-height: 9em;
  max-width: 14em;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;

  .ui-menu-item {
    padding: 0;

    a {
      border-radius: 0;
      color: $text-color;
      display: block;
      font-size: 0.85em;
      padding: 0.7em 1em;

      &.ui-state-focus {
        background: lighten($primary-color, 42%);
        border: none;
        margin: 0;
      }
    }
  }
}
