::-webkit-input-placeholder {
 color: lighten($banner-background, 50%);
}

:-moz-placeholder { /* Firefox 18- */
 color: lighten($banner-background, 50%);
}

::-moz-placeholder {  /* Firefox 19+ */
 color: lighten($banner-background, 50%);
}

:-ms-input-placeholder {
 color: lighten($banner-background, 50%);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  @extend .full-width;
  background: $inverted-text-color;
  border: lighten($secondary-color, 30%) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  padding: 0.3em 0.6em;
  transition: border .2s ease;

  &:hover,&:focus {
    border-color: lighten($secondary-color, 20%);
  }

  &:focus {
    border-color: lighten($primary-color, 10%);
  }

  &[disabled] {
    background: lighten($secondary-color, 43%);
    border-color: transparent;
    cursor: default;
  }

  &.flat {
    border: none;
    border-radius: 3px;
    font-weight: 300;
    line-height: 1.45;
    padding: 0 0.25em;
    transition: none;

    &:focus {
      background: lighten($banner-background, 70%);
      transition: background .2s ease;
    }

    &[disabled] {
      background: none;
    }
  }

  &.transparent {
    background: none;
    border: none;

    &:focus {
      background: rgba(0,0,0,0.1);
      box-shadow: 0 1px 1px rgba(255,255,255,0.1),
      inset 0 1px 1px rgba(0,0,0,0.1);
    }
  }

  &.inline {
    display: inline-block;
    width: auto;
  }

  &.full-width {
    display: block;
    width: 100%;
  }

  &.padded {
    border-width: 2px;
    padding: 0.75em 1em;
  }
}

label {
  color: $secondary-color;
  display: block;
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 0.25em;
  margin-top: 2em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/small-caret.png);
  background-position: 98.5%;
  background-repeat: no-repeat;
  background-size: 0.6em;

  &.padded {
    background-position: 96%;
  }
}

$table-border-radius: 5px;
table {
  background: $inverted-text-color;
  // border: $footer-background solid 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  width: 100%;
  margin: 1em;
  text-align: center;

  th {
    text-transform: uppercase;
    font-size: 0.85em;
    background: $footer-background;
    color: $inverted-text-color;
    padding: 0.5em;
  }

  tr {
    &:nth-child(even) {
      background: darken($inverted-text-color, 2%);
    }
  }

  td {
    padding: 0.5em;
    border-right: darken($inverted-text-color, 8%) solid 1px;

    &:last-child {
      border: none;
    }
  }
}