@mixin article-grid() {
	background-color: $white;
	border: 1px solid $article-border-color;
	margin-bottom: 7px;
	border-radius: 3px;
}

@mixin header-grid() {
	background-color: $white;
	border-top: 1px solid $article-border-color;
	border-bottom: 2px solid $article-border-color;
}

@mixin button($backgroundColor, $color){
	font-size: 17px;
	font-weight: inherit;
	line-height: 18px;
	font-family: 'Arimo', sans-serif;
	text-transform: inherit;
	letter-spacing: inherit;
	color: $color;
	background-color: $backgroundColor;
}

@mixin ask-advice-btn() {
	@include button(#e1660d, $white);
	border: 1px solid #050505;
	font-weight: bold;
	padding: 0 10px;
}

@mixin article-btn() {
	@include button($article-btn-bkg-color, $white);
	cursor: initial;
	border-radius: 2px;
	padding: 0 10px;
	border: 0;
	height: 32px;
	min-width: 100px;
}

@mixin addSection-btn() {
	cursor: pointer;
	background: url('../images/add.png') no-repeat 94px 5px;
	border-radius: 2px;
	border: 1px solid;
	height: 32px;
	width: 120px;
	margin: 10px 20px;
	padding: 0 20px 0 0;
	@include button(#eeebe9, #5E5757);
}

@mixin article-control-links() {
	color: $article-controll-link-color;
	text-decoration: none;
	font-size: 16px;
}

@mixin article-controll-btn-wrapper {
	border: 3px solid #e5e5e5;
	background-color: #f1f1f1;
}

@mixin countBtn() {
	background-color: $count-btn-bkg-color;
	cursor: pointer;
	font-size: 10px;
	padding: 4px 6px;
	color: $white;
}

@mixin saveCancelBtns($border) {
	border: 1px solid $border;
	border-radius: 3px;
	height:30px;
	width:65px;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
  padding: 0 10px;
}

@mixin saveBtn() {
	@include button($save-btn-bkg-clor, $white);
	@include saveCancelBtns($save-btn-border-clor);
}

@mixin cancelBtn() {
	@include button($cancel-btn-bkg-clor, #4E4D53);
	@include saveCancelBtns($cancel-btn-border-clor);
}

@mixin editParagraph () {
	background-color: $paragraph-edit-bkg-color;
	border: 1px solid $paragraph-edit-border-color;
}

@mixin shareInfo () {
	background-color: $share-info-bkg-color;
	font-family: 'PT Sans';
	color: $share-info-txt-color;
}

@mixin shareContct () {
	border: 1px dotted $share-info-border-color;
	padding: 0px 16px 0px 20px;
	height: 134px;
}

@mixin loginInputFields() {
	font-size: 28px;
	font-family: 'sans-serif';
	height: 66px;
	padding-left: 32px;
	width: 372px;
	border-radius: 0px;
	color: $share-info-txt-color;
	border: 1px solid $share-info-txt-color;
}

@mixin topper() {
	background-color: $top-bkg-color;
	border-bottom: 1px solid $cancel-btn-bkg-color;
	height: 44px;
	font-size: 21px;
	padding-left: 25px;
	line-height: 44px;
}

@mixin rqstKeyWord() {
	font-family: 'Arimo';
	font-size: 24px;
	float: left;
}

@mixin recipient() {
	float: left;
	font-size: 17px;
	background-color: $cancel-btn-bkg-color;
	padding: 0px 10px;
	margin: 7px 5px;
}

@mixin fbButton() {
	@include button($fb-btn-bkg-color, $white);
	font-weight: bold;
	border-radius: 2px;
	padding: 4px 0px;
	text-align: center;
	width:110px;
	height: 58px;
	border: 1px solid $fb-btn-bord-color;
	cursor: pointer;
}
