@import "ionicons/scss/ionicons";

.inverted {
  * {
    color: $inverted-text-color;
  }
}

.badge {
  &.sponsored {
    color: $warning-color;
    display: inline-block;
    font-size: 1.05em;
    margin: 0 0.25em;
  }
}

.hidden {
  display: none !important;
}

.pull {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.or {
  width: 100%;
  border-bottom: lighten($secondary-color, 35%) solid 1px;
  text-align: center;
  margin: 3em 0;

  span {
    display: inline-block;
    background-color: lighten($secondary-color, 20%);
    color: $inverted-text-color;
    border-radius: 50%;
    border: $inverted-text-color solid 2px;
    padding: .5em .45em;
    font-size: 0.75em;
    position: absolute;
    margin-top: -1em;
    text-align: center;
  }
}

.caret {
  @extend .ion-arrow-down-b;
  font-size: 0.8em;
  margin-left: 0.75em;
  position: relative;
  bottom: 0.25em;
}

.spaced {
  margin: 1em 0;
}

.centered {
  display: block;
  margin: auto;
  text-align: center;
}