$jeet-max-width: 960px;

// Breakpoints
$large-portrait: 768px;
$large-landscape: 1048px;
$medium-portrait: 640px;
$medium-landscape: 960px;
$small-portrait: 270px;
$small-landscape: 480px;

// Mixins
@mixin user-select($selectable) {
  -webkit-touch-callout: $selectable;
  -webkit-user-select: $selectable;
  -khtml-user-select: $selectable;
  -moz-user-select: $selectable;
  -ms-user-select: $selectable;
  user-select: $selectable;
}

@import "./colors";